div#ajaxbox-overlay {
	position: fixed;
	z-index: 3000;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

div#ajaxbox {
	position: fixed;
	z-index: 3001;
	display: none;
	top: 50%;
	left: 50%;
}