div#ajaxbox-overlay {
	position: absolute;
	width: expression((i = document.documentElement.clientWidth)+'px');
	height: expression((i = document.documentElement.clientHeight)+'px');
	top: expression((i = document.documentElement.scrollTop)+'px');
}

div#ajaxbox {
	position: absolute;
	top: expression((i = document.documentElement.scrollTop+(document.documentElement.clientHeight/2))+'px');
}