{% extends "GMXeonBundle::layout.html.twig" %}

{% block body %}
	<script>{{ xeon.lang | raw }}</script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- JS modules -->
	{% for js in xeon.js %}
		<script src="{{ js }}"></script>
	{% endfor %}
{% endblock %}