aside header{#<nav id="header">
	{% if menu %}
    {#<ul class="left">
        {% for cat in menu.children %}
            <li{% if cat.children %} class="has-dropdown"{% endif %}>
                <a href="{{ url.gen(cat) }}" title="{{ cat.title }}">
                        {{ cat.title }}
                </a>
                {% if cat.children %}
                    <ul class="dropdown">
                        {% for child in cat.children %}
                            <li>
                                <a href="{{ url.gen(child) }}" title="{{ child.title }}">
                                    {{ child.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>#}
    <ul class="right">
        <li class="has-form">
  <a href="http://foundation.zurb.com/docs" class="button">Getting started</a>
</li>
    </ul>
    <ul class="right">
        {#% include "GMSkinBundle:Default:topbar-links.html.twig" with {'links': menu} %#}
    </ul>
    <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>
    </ul>
    {% endif %}
</nav>#}