<ul>
	{% for link in links.children %}
            <li>
                <a href="{{ url.gen(link) }}" title="{{ url.title(link) }}">
                        {{ link.card.title }}
                </a>
            </li>
    {% endfor %}
</ul>
