<div id="topbar-ticker" class="row">
    <div class="col-xs-12">
        <ul id="ticker-topbar">
            {% for flash in flashes %}
                <li>{{ flash.text }}</li>
            {% endfor %}
        </ul>
    </div>
</div>