<footer>
    GoldenMarket for DSI International Retail Banking &copy;2015
    <div class="footer-links pull-right">
    	<a href="#">About</a>
    	<a href="#">Help</a>
    	<a href="#">Contact Us</a>
    </div>
</footer>