<!-- Top Bar Start -->
<div class="topbar">

    {{ render(controller('TotemFrontBundle:Default:Flash', {})) }}

    <div id="topbar-top" class="row">
		<div class="logo">
			<a title="" href="/"><img src="/bundles/totemfront/assets/img/totem.png" alt="TOTEM"></a>
		</div>
		<div class="blk-user">
            <ul class="nav navbar-nav navbar-right top-navbar">
				<li class="dropdown topbar-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<div class="col-1 hide-phone">
	                    	<p>Bienvenue</p>
	                    	<p>{{ app.user.firstname }} <strong>{{ app.user.lastname }}</strong></p>
                    	</div>
                    	<div class="col-2">
							<i class="fa fa-caret-down"></i>
						</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("fos_user_security_logout") }}" class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>


    <div class="topbar-left">
		{% include 'TotemFrontBundle:Default:includes/buttons/btn-open-left.html.twig' %}
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div id="topbar-navbar" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-collapse2">

                {% include 'TotemFrontBundle:Default:includes/header/navbar-horizontal-left.html.twig' %}

                {% include 'TotemFrontBundle:Default:includes/header/navbar-horizontal-right.html.twig' %}

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->