
{% block javascripts_head %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% javascripts
    'bundles/totemfront/assets/libs/jquery/jquery-1.11.1.min.js'
    'bundles/totemfront/assets/libs/bootstrap/js/bootstrap.min.js'
    'bundles/totemfront/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js'
    'bundles/totemfront/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js'
    'bundles/totemfront/assets/libs/jquery-detectmobile/detect.js'
    'bundles/totemfront/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js'
    'bundles/totemfront/assets/libs/ios7-switch/ios7.switch.js'
    'bundles/totemfront/assets/libs/fastclick/fastclick.js'
    'bundles/totemfront/assets/libs/jquery-blockui/jquery.blockUI.js'
    'bundles/totemfront/assets/libs/bootstrap-bootbox/bootbox.min.js'
    'bundles/totemfront/assets/libs/jquery-slimscroll/jquery.slimscroll.js'
    'bundles/totemfront/assets/libs/jquery-sparkline/jquery-sparkline.js'
    'bundles/totemfront/assets/libs/nifty-modal/js/classie.js'
    'bundles/totemfront/assets/libs/nifty-modal/js/modalEffects.js'
    'bundles/totemfront/assets/libs/sortable/sortable.min.js'
    'bundles/totemfront/assets/libs/bootstrap-fileinput/bootstrap.file-input.js'
    'bundles/totemfront/assets/libs/bootstrap-select/bootstrap-select.min.js'
    'bundles/totemfront/assets/libs/bootstrap-select2/select2.min.js'
    'bundles/totemfront/assets/libs/magnific-popup/jquery.magnific-popup.min.js'
    'bundles/totemfront/assets/libs/pace/pace.min.js'
    'bundles/totemfront/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'bundles/totemfront/assets/libs/jquery-icheck/icheck.min.js'
    'bundles/totemfront/assets/libs/prettify/prettify.js'
    'bundles/totemfront/assets/libs/mcScrollTabs/jquery.mcScrollTabs.js'
    'bundles/totemfront/assets/libs/liscroll/1.0/jquery.li-scroller.js'
    'bundles/totemfront/assets/libs/jquery-datatables/js/jquery.dataTables.min.js'
    'bundles/totemfront/assets/libs/jquery-datatables/js/dataTables.bootstrap.js'
    'bundles/totemfront/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.js'
    'bundles/totemfront/assets/js/pages/datatables.js'
    'bundles/totemfront/assets/libs/bootstrap-select/bootstrap-select.min.js'
    'bundles/totemfront/assets/libs/bootstrap-inputmask/inputmask.js'
    'bundles/totemfront/assets/libs/summernote/summernote.js'
    'bundles/totemfront/assets/js/pages/forms.js'
    'bundles/totemfront/assets/js/init.js'
    'bundles/totemfront/assets/js/app.js'
    output='js/compiled/all.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}