<!-- Left Sidebar Start -->
<div class="left side-menu">

	{% include 'TotemFrontBundle:Default:includes/buttons/btn-open-left.html.twig' %}

	<div class="slimscrollleft">
        <div id="content-left-menu">
		    {% include 'TotemFrontBundle:Default:includes/left/sidebar-menu.html.twig' with {'module': module } %}
        </div>
		<div class="loading-mask">
			<div class="spinner"></div>
		</div>

    </div> <!-- .sidebar-inner -->

	<!--
    <div class="left-footer">
		{#% include 'includes/left/task-progress.html.twig' %#}
    </div>
	-->

</div> <!-- Left Sidebar End -->