<!-- Modal Start -->
<!-- Modal Task Progress -->
<div class="md-modal md-3d-flip-vertical" id="task-progress">
	<div class="md-content">
		<h3><strong>Task Progress</strong> Information</h3>
		<div>
			<p>CLEANING BUGS</p>
			<div class="progress progress-xs for-modal">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				<span class="sr-only">80&#37; Complete</span>
			  </div>
			</div>
			<p>POSTING SOME STUFF</p>
			<div class="progress progress-xs for-modal">
			  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
				<span class="sr-only">65&#37; Complete</span>
			  </div>
			</div>
			<p>BACKUP DATA FROM SERVER</p>
			<div class="progress progress-xs for-modal">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
				<span class="sr-only">95&#37; Complete</span>
			  </div>
			</div>
			<p>RE-DESIGNING WEB APPLICATION</p>
			<div class="progress progress-xs for-modal">
			  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">100&#37; Complete</span>
			  </div>
			</div>
			<p class="text-center">
			<button class="btn btn-danger btn-sm md-close">Close</button>
			</p>
		</div>
	</div>
</div>

<!-- Modal Logout -->
<div class="md-modal md-just-me" id="logout-modal">
	<div class="md-content">
		<h3><strong>Logout</strong> Confirmation</h3>
		<div>
			<p class="text-center">Are you sure want to logout from this awesome system?</p>
			<p class="text-center">
			<button class="btn btn-danger md-close">Nope!</button>
			<a href="login.html" class="btn btn-success md-close">Yeah, I'm sure</a>
			</p>
		</div>
	</div>
</div>        <!-- Modal End -->