
{% stylesheets
'bundles/totemfront/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css'
'bundles/totemfront/assets/libs/bootstrap/css/bootstrap.min.css'
'bundles/totemfront/assets/libs/font-awesome/css/font-awesome.min.css'
'bundles/totemfront/assets/libs/fontello/css/fontello.css'
'bundles/totemfront/assets/libs/animate-css/animate.min.css'
'bundles/totemfront/assets/libs/nifty-modal/css/component.css'
'bundles/totemfront/assets/libs/magnific-popup/magnific-popup.css'
'bundles/totemfront/assets/libs/ios7-switch/ios7-switch.css'
'bundles/totemfront/assets/libs/pace/pace.css'
'bundles/totemfront/assets/libs/sortable/sortable-theme-bootstrap.css'
'bundles/totemfront/assets/libs/bootstrap-datepicker/css/datepicker.css'
'bundles/totemfront/assets/libs/jquery-icheck/skins/all.css'
'bundles/totemfront/assets/libs/prettify/github.css'
'bundles/totemfront/assets/libs/liscroll/1.0/li-scroller.css'
'bundles/totemfront/assets/libs/jquery-datatables/css/dataTables.bootstrap.css'
'bundles/totemfront/assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css'
'bundles/totemfront/assets/libs/summernote/summernote.css'
'bundles/totemfront/assets/css/style.css'
'bundles/totemfront/assets/css/style-responsive.css'
'bundles/totemfront/assets/css/custom.css'
filter='cssrewrite' output='css/compiled/all.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% block stylesheets_pages %}
{% endblock %}

{% block stylesheets_navigators %}
{% endblock %}