{% for comment in comments %}
	<article class="comment">
		{{ comment.comment }}
		<footer>
			{{ 'gm.review.posted_by' | trans({'%name%': comment.info.user.username}) }}
		<footer>
	</article>
{% else %}
	<article class="comment">
		{{ 'gm.review.no_comment_yet' | trans }}
	</article>
{% endfor %}