/*###############################
#								#
#	CACHE						#
#								#
###############################*/

div#cache {
	z-index: 3000;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background-image: url("/src/cache-site/images/cache.png");
	background-position: 0 0;
	background-repeat: repeat;
	/* IE 6 */
	_z-index: 99;
	_position: absolute;
	_top: expression(documentElement.scrollTop+body.scrollTop);
	_background-color: #606060;
	_background-image: none;
	_width: 3000px;
	_height: 1000px;
	
}

div#cache-box {
	z-index: 3001;
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	width: 717px;
	height: 447px;
	margin-top: -223px;
	margin-left: -358px;
	background: url("/src/cache-site/images/cache-box.png") no-repeat 0 0;
	_position: absolute;
	_top: expression(documentElement.scrollTop+body.scrollTop);
	_margin-top: 20px;
}

	div#cache-box-conteneur {
		width: 677px; /* 717 */
		height: 407px; /* 447 */
		padding: 20px;
	}
	
	div#cache h1, 
	div#cache div.h1 {
		width: 677px;
		padding: 30px 0 40px 0;
		margin: 0;
		border: 0;
		font-size: 30px;
		font-family: "georgia";
		font-style: italic;
		font-weight: normal;
		color: #262525;
		text-align: center;
	}
	
	div#cache h2, 
	div#cache div.h2 {
		width: 677px;
		padding: 70px 0 20px 0;
		margin: 0;
		border: 0;
		font-size: 20px;
		font-family: "georgia";
		font-style: italic;
		font-weight: normal;
		color: #262525;
		text-align: center;
	}
	
	div#cache p {
		width: 677px;
		padding: 5px 0;
		font-size: 13px;
		color: #262525;
		text-align: center;
	}
	
	div#cache form {
		width: 677px;
		text-align: center;
	}