<!-- Navbar LEFT -->
<ul class="nav navbar-nav navbar-left">
    <li>
        <a class="ajax-link-menu" href="#" data-href="{{ path("front_catalogue_requete") }}"><i class="fa fa-newspaper-o pos-left"></i><span class="text">Catalogue</span></a>
    </li>
	<li>
		<a class="ajax-link-menu" href="#" data-href="{{ path("front_favoris_requete") }}"><i class="fa fa-star pos-left"></i><span class="text">Favoris</span></a>
	</li>
	<li>
		<a class="ajax-link-menu" href="#" data-href="{{ path("front_recent_requete") }}"><i class="fa fa-clock-o pos-left"></i><span class="text">Récent</span></a>
	</li>
    <li>
        <a class="ajax-link-menu" href="#" data-href="{{ path("front_cron_requete") }}" ><i class="fa fa-desktop pos-left"></i><span class="text">Requêtes planifiées</span></a>
    </li>
</ul>


