<!-- Navbar RIGHT -->
<ul class="nav navbar-nav navbar-right top-navbar">
	<li class="search">{% include 'TotemFrontBundle:Default:includes/left/search.html.twig' %}</li>
	<!-- fullscreen -->
	<li class="dropdown iconify hidden-xs"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>
	<!-- Open right
	<li class="right-opener">
	    <a href="javascript:;" class="open-right"><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-right"></i></a>
	</li>
	-->
</ul>