{% if pages|length > 0 %}
	{{ 'gm.cms.linked_pages' | trans }}
	<nav class="linked-pages">
		<ul>
		{% for page in pages %}
			<li>
				<a href="{{ url.gen(page) }}" title="{{ page.fullTitle }}">{{ page.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
{% endif %}