{% if pages|length > 0 %}
	{{ 'gm.cms.same_level' | trans }}
	<nav class="same_level">
		<ul>
		{% for page in pages %}
			<li>
				<a href="{{ url.gen(page) }}" title="{{ page.fullTitle }}">{{ page.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
{% endif %}