<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
 
        <title>{% block meta_title %}{{ 'gm.site.meta.title' | trans }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ 'site.meta.description' | trans }}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ 'site.meta.keywords' | trans }}{% endblock %}">
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <link rel="stylesheet" href="/bundles/gmxeon/extjs/resources/css/ext-all.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/ext-sandbox.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/ext3-compat.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/icons-flags.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/icons-silk.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/icons-web.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/icons-zak.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/tinymce.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/xeon.css" type="text/css" />
            <link rel="stylesheet" href="/bundles/gmxeon/xeon/style/cms.css" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {#<script src="http://www.google.com/jsapi"></script>
            <script src="http://maps.google.com/maps/api/js?sensor=false"></script>#}
            <script src="/bundles/gmxeon/extjs/adapter/ext/ext-base-debug.js"></script>
            <script src="/bundles/gmxeon/extjs/ext-all.js"></script>
            <script src="/bundles/gmxeon/extjs/locale/ext-lang-{{ app.request.locale }}.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/MultiSelect.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/DragSelector.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/GVisualizationPanel.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/HtmlEditorPlugins.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/ManagedIFrame.js"></script>
            <script src="/bundles/gmxeon/tinymce/tiny_mce.js"></script>
            <script src="/bundles/gmxeon/extjs/ux/TinyMCE.js"></script>
            {#<script src="/bundles/gmxeon/swfupload/swfupload.js"></script>#}
            <script src="/bundles/gmxeon/xeon/script/ux.js"></script>
            <script src="/bundles/gmxeon/xeon/script/xeon.js"></script>
            <script src="/bundles/gmxeon/xeon/script/compositeField.js"></script>
            <script src="/bundles/gmxeon/xeon/script/advancedMenu.js"></script>
          {#  <script src="/bundles/gmxeon/xeon/script/compare.js"></script>#}
            <script src="/bundles/gmxeon/xeon/script/compositeField.js"></script>
          {#  <script src="/bundles/gmxeon/xeon/script/contact.js"></script>#}
            <script src="/bundles/gmxeon/xeon/script/crosslink.js"></script>
            <script src="/bundles/gmxeon/xeon/script/flow.js"></script>
            <script src="/bundles/gmxeon/xeon/script/layered.js"></script>
            {#<script src="/bundles/gmxeon/xeon/script/media.js"></script>#}
           {# <script src="/bundles/gmxeon/xeon/script/seo.js"></script>#}
          {#  <script src="/bundles/gmxeon/xeon/script/shop.js"></script>#}
            {#<script src="/bundles/gmxeon/xeon/script/statistics.js"></script>#}
            {#<script src="/bundles/gmxeon/xeon/script/user.js"></script>#}
            {#<script src="/bundles/gmxeon/xeon/script/cms.js"></script>#}
            {#<script src="/bundles/gmxeon/xeon/script/com.js"></script>#}
        {% endblock %}
   
    </body>
</html>