{% for item in items %}
	<{{ tag }}{% if tag_id %} id="{{ tag_id }}"{% endif %}{% if tag_class %} class="{{ tag_class }}"{% endif %}{% if tag_attribute %}{{ widget('gm_widget.tag_attribute', 0, {'attribute': tag_attribute}) }}{% endif %}>
		{{ widget(item.name, item.properties.item_id, item.properties, item.config) }}
	</{{ tag }}>
{% endfor %}