body {
	text-align: left;
	font-family: "Arial", Verdana, serif;
	font-size: 12px;
	font-weight: normal;
	color: #212121;
	background: #ffffff;
}


div.page {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

div.page-top { }
div.page-bottom { }


/*###########################
#	DIVERS					#
###########################*/

ul { list-style-type: none; }
a {	text-decoration: none; }
a img { border: 0; }
:focus { outline: 0; }

body div#GrosCalqueToutNoir {
	z-index: 8;
	position: absolute;
	background-color: #000;	
	top: 0px;
	left: 0px;
}

body div#CalquePrettyPopup{
	background-color: #FFF;
	position: absolute;	
	padding: 15px 10px 10px 10px;
	opacity: 1;
	z-index: 9;
}
	body div#CalquePrettyPopup #defaultOkBtn{
		margin-top: 10px;
		border: 1px dashed black;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		display: block;
		cursor: pointer;
	}
	
	body div#CalquePrettyPopup div#close_CalqueInfoPanier{
		position: absolute;
		width: 40px;
		height: 40px;
		top: -25px;
		right: -25px;
		background: url('../img/ico-close.png') no-repeat 0 0;
		cursor: pointer;
	}
	body div#CalquePrettyPopup p{
		color : #000;
	}
	
.clear {
	clear: both;
	position: relative;
    overflow: hidden;
	display: block;
	width: 100%;
	height: 0;
	font-size: 0px;
	line-height: 0px;
}
/*.clearBoth { clear: both; font-size: 1px; height: 1px; }*/

.error { color: #ff0000; }
.popup{
	visibility: hidden; 
	display: none;
	position: absolute;
}

/*###############################
#	HEADER						#
###############################*/
	body div.SubFamilyList{		
		border: 1px solid black;
		background-color: #FFF;
		z-index: 9;
	}
	
				body div.SubFamilyList div#popupContent div.DivListeSousFamilles div{
					float: left;
					margin: 3px;
				}
div.header { width: 100%; }

div.header-bottom {
	width: 100%;
	min-height: 81px;
	padding: 0;
}

	div.header div#logo{
		width: 200px;
		height: 175px;
		background: url(../img/shop-skeleton.png) no-repeat 0 0;
		float: left;	
	}
	div.header div#bloc_ident{
		width: 300px;
		float: left;		
		padding: 10px;
	}
	div.header div#searchbloc{
		width: 300px;
		float: right;		
		padding: 10px;
	}
	div.header div#searchbloc p.center{
		text-align: center;
		width: 300px;
	}
	div.header div.logo {
		position: relative;
		overflow: hidden;
		float: left;
		width: 431px;
		height: 85px;
	}
	
		div.header div.logo a {
			display: inline-block;
			width: 290px; /* 431 */
			height: 35px; /* 85 */
			padding: 50px 0 0 141px;
			font-family: "Verdana";
			font-size: 12px;
			color: #c5c5c5;
			background: url("/public/img/web-marketing-goldenmarket.png") 0 0 no-repeat;
		}
	
	div.header div.header-right {
		float: right;
		width: 250px;
		height: 85px;
		padding: center;
	}
	
		div.header div.header-right p {
			margin-top: 6px;
			text-align: center;
		}
	
		div.header div.header-right p.line-1 {
			font-family: "Verdana";
			font-size: 24px;
			font-weight: bold;
			color: #ffffff;
			background: url("/public/img/icons/ico-tel.png") 0 5px no-repeat;
		}
		
		div.header div.header-right p.line-2 a {
			font-family: "Verdana";
			font-size: 14px;
			font-weight: normal;
			color: #d4edff;
		}
		
	div.header div.header-bottom {
		clear: both;
		width: 100%;
	}
	
		div.header div.header-bottom-left {
			float: left;
			width: 705px;
		}
		
			div.header div.header-bottom-left p {
				padding-top: 25px;
				font-size: 20px;
				font-weight: bold;
				color: #313131;
				text-align: center;
			}
		
		div.header div.header-bottom-right {
			float: right;
			width: 235px;
			height: 50px;
		}
		
			div.header div.header-bottom-right p { padding-top: 12px; }
		
				div.header div.header-bottom-right p a {
					display: block;
					width: 234px;
					height: 49px;
					background: url("/public/img/buttons/btn-orange.png") 0 0 no-repeat;
				}
				
					div.header div.header-bottom-right p a span {
						display: block;
						width: 100%;
						height: 100%;
						padding-top: 12px;
						text-align: center;
					}
					
					div.header div.header-bottom-right p a, 
					div.header div.header-bottom-right p a span {
						font-size: 18px;
						font-weight: bold;
						color: #4f3e00;
						cursor: pointer;
					}

	
div#menuprincipal  {
	width: 100%;
	margin: 10px 0;
	background: #ffffff;
	border: 1px solid #313131;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#menuprincipal ul.ul-level-1 {}

	div#menuprincipal ul.ul-level-1 li {
		display: block;
		float: left;
		border-left: 1px solid #313131;
		height: 32px;
	}
	
	div#menuprincipal ul.ul-level-1 li.hover {
		display: block;
		float: left;
		border-left: 1px solid #313131;
		height: 32px;
		background-color: #FF0000;		
	}
		div#menuprincipal ul.ul-level-1 li.hover a{
			color: #fff;
		}
			div#menuprincipal ul.ul-level-1 li.li-level-1_first { border: none; }
	
		div#menuprincipal ul.ul-level-1 li a {
			display: block;
			float: left;
			padding: 5px 10px;
			font-size: 12px;
			color: #313131;
			height: 32px;
		}

/*###############################
#	CONTAINER					#
###############################*/

div.container {
	position: relative;
    width: 100%;
    margin: 0 0 20px 0;
}

	body#page-home div.container { margin-top: 60px; }

div.container-top { }
div.container-bottom { }

/* BREADCRUMB */
div.breadcrumb {
	width: 75%;
	padding: 30px 0 30px 25%;
}

	div.breadcrumb, div.breadcrumb span, div.breadcrumb a { font-size: 11px; }
	
		div.breadcrumb { color: #666666; }
		
		div.breadcrumb span {
			padding: 0 5px;
			font-weight: bold;
			color: #000000;
		}
		
		div.breadcrumb a {
			color: #0088cc;
			text-decoration: underline;
		}


/*###############################
#	LEFT						#
###############################*/
	
div.column-left {
    float: left;
    width: 220px;
    min-height: 200px;
}


/*###############################
#	RIGHT						#
###############################*/
	
div.column-right {
    float: left;
    width: 220px;
    min-height: 200px;
}


/*###############################
#	CONTENT						#
###############################*/
	
div.content {
    float: left;
    width: 465px;
    padding: 0 17px;
    min-height: 200px;
}

/* When only one column (left or right) */
div#column-left div.content, 
div#column-right div.content {
	width: 738px;
}

	div#column-left div.content { padding-right: 0; }
	div#column-right div.content { padding-left: 0; }
		
	
	/* TITLES */
	div.content h1 {
		padding: 20px 0 10px 0;
	    font-size: 30px;
	    font-weight: normal;
	    color: #313131;
	}


/*###############################
#	FOOTER						#
###############################*/
	
div.footer {
	clear: both;
	position: relative;
    width: 100%;
    height: 67px;
    text-align: center;
}
	
	div.footer, div.footer a {
		font-size: 12px;
		color: #ababab;
	}
	
		div.footer a:hover { text-decoration: underline; }
	
	div.footer span {
		padding: 0 5px;
	}
	
	
	div.footer div.footer-line1 {
		padding: 12px 0 5px 0;
		margin-bottom: 10px;
		color: #ffffff;
		background: url("/public/img/separ/separ-gray.gif") center bottom no-repeat;
	}
	
/*#######################################################################
#	 INTEGRATION ERIC POUR QUE STEPHANE REPASSE DESSUS					#
#########################################################################*/
div.cmsvignette {
	width: 800px;
	min-height: 50px;
	border: 1px dashed black;
	margin-top: 8px;
}
div.cmsvignette img{
	max-width: 100px;
	max-height: 100px;
	margin: 5px;
	float: left;
}
div.cmsvignette p.valid{
	padding-top: 10px;
}
div.cmsvignette h3{
	margin: 5px;
}


div.prdminivignette{
	width: 150px;
	min-height: 50px;
	border: 1px dashed red;
	margin: 10px;
	float: left;
	text-align: center;
}
div.prdminivignette img{
	max-width: 100px;
	max-height: 100px;
	margin: 5px;	
}
div.prdminivignette h3{
	margin: 5px;
}
/*###########################
#	BLOC PAGINATION			#
###########################*/
div#blocpagination{
	width: 780px;
	height: 35px;
	padding: 5px 10px;
	background-color: #000;
	color: #FFF;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	div#blocpagination a{
		color: #FFF;
		font-weight : bold;
		text-decoration: underline;
	}
	div#blocpagination div{
		position: relative;
		float: left;
		height: 25px;
		margin: 5px;
		text-align: center;
	}
	div#blocpagination div.changeNumberByPage{
		width: 100px;
	}
	div#blocpagination div.PageLists{
		width: 660px;
	}
/*#################################
	POPUP RECHERCHE
####################################*/
div#infofamilles img{
	margin: 3px auto;
}
div#infofamilles{
	width: 260px;
	float: left;
	border-right: 1px dashed black;
	
}
div.DivListeSousFamilles{
	float: left;
	padding: 5px;
}
div.MenuPopup{
	border: 1px solid black;
	background-color: #FFF;
	min-width: 180px;
}
div.MenuPopup div.Result{
	min-height: 25px;
	text-align: left;
	cursor: pointer;
}
div.MenuPopup div.Result.title{
	min-height: 27px;
	padding-top: 8px;
	text-align: center;
	background-color: #CCC;
	cursor: normal;
}
div.MenuPopup div.Result.hover{
	background-color: #624833;
	color: #FFF;
}
/*#################################
	POPUP COMPARE
####################################*/
table.tpl_compare,
table.tpl_compare td{margin: 0px;padding :0px;}

	table.tpl_compare tr td.col_1 {
		min-width: 150px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
	table.tpl_compare tr.line1 td.col_1 { border-left: 0px solid black;}
	table.tpl_compare tr td.col_product { border: 1px solid black;padding : 5px;width: 120px;}
/*#################################
	POPUP CART
####################################*/	

#LogoDisplayCart{
	width: 140px;
	height: 40px;
	border: 1px dashed black;
	background: url(../img/panier.png) no-repeat 5px 5px;
	cursor: pointer;
	
}
	#LogoDisplayCart p{
		margin: 13px 0 0 45px;		
	}
#Contentcart_popup {
	background-color:#FFF;
	border:1px dashed red;
	min-width: 240px;
}
	
	#Contentcart_popup div.contentPopup{
		width:100%;	
		height:35px;
		
	}
	
	
	#Contentcart_popup div.contentPopup.close{
		background-color:#CCC;
		cursor:pointer;
	}
	
	#Contentcart_popup div.contentPopup.noproduct p,
	#Contentcart_popup div.contentPopup.close p{
		text-align: center;
		margin:0px;
		padding-top:12px;
	}

	#Contentcart_popup div.contentPopup.product div{
		float:left;
	}
		#Contentcart_popup div.contentPopup.product div.trash{
			width: 30px;
			height:35px;
			background: url(../img/ico-cart.png) no-repeat 5px 7px;
			cursor: pointer;
		}
		#Contentcart_popup div.contentPopup.product div.name{
			height:23px;
			padding-top:12px;
			width:140px;
		}
		#Contentcart_popup div.contentPopup.product div.price{
			height:23px;
			padding-top:12px;
			width:62px;
			text-align:right;
			margin-right: 8px;
		}
div#contentT{
	width:730px;
}
div.engine_filter{
	float: left;
	width: 200px;
}
div#results_layered{
	float: left;
	width: 530px;
}