.i-arrow-blue-down{background-image:url(../../icons/zak/arrow_blue_down.gif)!important;}
.i-arrow-blue-up{background-image:url(../../icons/zak/arrow_blue_up.gif)!important;}
.i-collapse-all{background-image:url(../../icons/zak/collapse_all.gif)!important;}
.i-exit{background-image:url(../../icons/zak/exit.gif)!important;}
.i-expand-all{background-image:url(../../icons/zak/expand_all.gif)!important;}
.i-loading{background-image:url(../../icons/zak/loading.gif)!important;}
.i-parent-folder{background-image:url(../../icons/zak/parent_folder.png)!important;}
.i-refresh{background-image:url(../../icons/zak/refresh.gif)!important;}
.i-text-columns-3{background-image:url(../../icons/zak/text_columns_3.png)!important;}
.i-user-comment-add{background-image:url(../../icons/zak/user_comment_add.png)!important;}
.i-user-gray-add{background-image:url(../../icons/zak/user_gray_add.png)!important;}
.i-wrench-orange-add{background-image:url(../../icons/zak/wrench_orange_add.png)!important;}
