.i-accept{background-image:url(../../icons/silk/accept.png)!important;}
.i-add{background-image:url(../../icons/silk/add.png)!important;}
.i-anchor{background-image:url(../../icons/silk/anchor.png)!important;}
.i-application{background-image:url(../../icons/silk/application.png)!important;}
.i-application-add{background-image:url(../../icons/silk/application_add.png)!important;}
.i-application-cascade{background-image:url(../../icons/silk/application_cascade.png)!important;}
.i-application-delete{background-image:url(../../icons/silk/application_delete.png)!important;}
.i-application-double{background-image:url(../../icons/silk/application_double.png)!important;}
.i-application-edit{background-image:url(../../icons/silk/application_edit.png)!important;}
.i-application-error{background-image:url(../../icons/silk/application_error.png)!important;}
.i-application-form{background-image:url(../../icons/silk/application_form.png)!important;}
.i-application-form-add{background-image:url(../../icons/silk/application_form_add.png)!important;}
.i-application-form-delete{background-image:url(../../icons/silk/application_form_delete.png)!important;}
.i-application-form-edit{background-image:url(../../icons/silk/application_form_edit.png)!important;}
.i-application-form-magnify{background-image:url(../../icons/silk/application_form_magnify.png)!important;}
.i-application-get{background-image:url(../../icons/silk/application_get.png)!important;}
.i-application-go{background-image:url(../../icons/silk/application_go.png)!important;}
.i-application-home{background-image:url(../../icons/silk/application_home.png)!important;}
.i-application-key{background-image:url(../../icons/silk/application_key.png)!important;}
.i-application-lightning{background-image:url(../../icons/silk/application_lightning.png)!important;}
.i-application-link{background-image:url(../../icons/silk/application_link.png)!important;}
.i-application-osx{background-image:url(../../icons/silk/application_osx.png)!important;}
.i-application-osx-terminal{background-image:url(../../icons/silk/application_osx_terminal.png)!important;}
.i-application-put{background-image:url(../../icons/silk/application_put.png)!important;}
.i-application-side-boxes{background-image:url(../../icons/silk/application_side_boxes.png)!important;}
.i-application-side-contract{background-image:url(../../icons/silk/application_side_contract.png)!important;}
.i-application-side-expand{background-image:url(../../icons/silk/application_side_expand.png)!important;}
.i-application-side-list{background-image:url(../../icons/silk/application_side_list.png)!important;}
.i-application-side-tree{background-image:url(../../icons/silk/application_side_tree.png)!important;}
.i-application-split{background-image:url(../../icons/silk/application_split.png)!important;}
.i-application-tile-horizontal{background-image:url(../../icons/silk/application_tile_horizontal.png)!important;}
.i-application-tile-vertical{background-image:url(../../icons/silk/application_tile_vertical.png)!important;}
.i-application-view-columns{background-image:url(../../icons/silk/application_view_columns.png)!important;}
.i-application-view-detail{background-image:url(../../icons/silk/application_view_detail.png)!important;}
.i-application-view-gallery{background-image:url(../../icons/silk/application_view_gallery.png)!important;}
.i-application-view-icons{background-image:url(../../icons/silk/application_view_icons.png)!important;}
.i-application-view-list{background-image:url(../../icons/silk/application_view_list.png)!important;}
.i-application-view-tile{background-image:url(../../icons/silk/application_view_tile.png)!important;}
.i-application-xp{background-image:url(../../icons/silk/application_xp.png)!important;}
.i-application-xp-terminal{background-image:url(../../icons/silk/application_xp_terminal.png)!important;}
.i-arrow-branch{background-image:url(../../icons/silk/arrow_branch.png)!important;}
.i-arrow-divide{background-image:url(../../icons/silk/arrow_divide.png)!important;}
.i-arrow-down{background-image:url(../../icons/silk/arrow_down.png)!important;}
.i-arrow-in{background-image:url(../../icons/silk/arrow_in.png)!important;}
.i-arrow-inout{background-image:url(../../icons/silk/arrow_inout.png)!important;}
.i-arrow-join{background-image:url(../../icons/silk/arrow_join.png)!important;}
.i-arrow-left{background-image:url(../../icons/silk/arrow_left.png)!important;}
.i-arrow-merge{background-image:url(../../icons/silk/arrow_merge.png)!important;}
.i-arrow-out{background-image:url(../../icons/silk/arrow_out.png)!important;}
.i-arrow-redo{background-image:url(../../icons/silk/arrow_redo.png)!important;}
.i-arrow-refresh{background-image:url(../../icons/silk/arrow_refresh.png)!important;}
.i-arrow-refresh-small{background-image:url(../../icons/silk/arrow_refresh_small.png)!important;}
.i-arrow-right{background-image:url(../../icons/silk/arrow_right.png)!important;}
.i-arrow-rotate-anticlockwise{background-image:url(../../icons/silk/arrow_rotate_anticlockwise.png)!important;}
.i-arrow-rotate-clockwise{background-image:url(../../icons/silk/arrow_rotate_clockwise.png)!important;}
.i-arrow-switch{background-image:url(../../icons/silk/arrow_switch.png)!important;}
.i-arrow-turn-left{background-image:url(../../icons/silk/arrow_turn_left.png)!important;}
.i-arrow-turn-right{background-image:url(../../icons/silk/arrow_turn_right.png)!important;}
.i-arrow-undo{background-image:url(../../icons/silk/arrow_undo.png)!important;}
.i-arrow-up{background-image:url(../../icons/silk/arrow_up.png)!important;}
.i-asterisk-orange{background-image:url(../../icons/silk/asterisk_orange.png)!important;}
.i-asterisk-yellow{background-image:url(../../icons/silk/asterisk_yellow.png)!important;}
.i-attach{background-image:url(../../icons/silk/attach.png)!important;}
.i-award-star-add{background-image:url(../../icons/silk/award_star_add.png)!important;}
.i-award-star-bronze-1{background-image:url(../../icons/silk/award_star_bronze_1.png)!important;}
.i-award-star-bronze-2{background-image:url(../../icons/silk/award_star_bronze_2.png)!important;}
.i-award-star-bronze-3{background-image:url(../../icons/silk/award_star_bronze_3.png)!important;}
.i-award-star-delete{background-image:url(../../icons/silk/award_star_delete.png)!important;}
.i-award-star-gold-1{background-image:url(../../icons/silk/award_star_gold_1.png)!important;}
.i-award-star-gold-2{background-image:url(../../icons/silk/award_star_gold_2.png)!important;}
.i-award-star-gold-3{background-image:url(../../icons/silk/award_star_gold_3.png)!important;}
.i-award-star-silver-1{background-image:url(../../icons/silk/award_star_silver_1.png)!important;}
.i-award-star-silver-2{background-image:url(../../icons/silk/award_star_silver_2.png)!important;}
.i-award-star-silver-3{background-image:url(../../icons/silk/award_star_silver_3.png)!important;}
.i-basket{background-image:url(../../icons/silk/basket.png)!important;}
.i-basket-add{background-image:url(../../icons/silk/basket_add.png)!important;}
.i-basket-delete{background-image:url(../../icons/silk/basket_delete.png)!important;}
.i-basket-edit{background-image:url(../../icons/silk/basket_edit.png)!important;}
.i-basket-error{background-image:url(../../icons/silk/basket_error.png)!important;}
.i-basket-go{background-image:url(../../icons/silk/basket_go.png)!important;}
.i-basket-put{background-image:url(../../icons/silk/basket_put.png)!important;}
.i-basket-remove{background-image:url(../../icons/silk/basket_remove.png)!important;}
.i-bell{background-image:url(../../icons/silk/bell.png)!important;}
.i-bell-add{background-image:url(../../icons/silk/bell_add.png)!important;}
.i-bell-delete{background-image:url(../../icons/silk/bell_delete.png)!important;}
.i-bell-error{background-image:url(../../icons/silk/bell_error.png)!important;}
.i-bell-go{background-image:url(../../icons/silk/bell_go.png)!important;}
.i-bell-link{background-image:url(../../icons/silk/bell_link.png)!important;}
.i-bin{background-image:url(../../icons/silk/bin.png)!important;}
.i-bin-closed{background-image:url(../../icons/silk/bin_closed.png)!important;}
.i-bin-empty{background-image:url(../../icons/silk/bin_empty.png)!important;}
.i-bomb{background-image:url(../../icons/silk/bomb.png)!important;}
.i-book{background-image:url(../../icons/silk/book.png)!important;}
.i-book-add{background-image:url(../../icons/silk/book_add.png)!important;}
.i-book-addresses{background-image:url(../../icons/silk/book_addresses.png)!important;}
.i-book-delete{background-image:url(../../icons/silk/book_delete.png)!important;}
.i-book-edit{background-image:url(../../icons/silk/book_edit.png)!important;}
.i-book-error{background-image:url(../../icons/silk/book_error.png)!important;}
.i-book-go{background-image:url(../../icons/silk/book_go.png)!important;}
.i-book-key{background-image:url(../../icons/silk/book_key.png)!important;}
.i-book-link{background-image:url(../../icons/silk/book_link.png)!important;}
.i-book-next{background-image:url(../../icons/silk/book_next.png)!important;}
.i-book-open{background-image:url(../../icons/silk/book_open.png)!important;}
.i-book-previous{background-image:url(../../icons/silk/book_previous.png)!important;}
.i-box{background-image:url(../../icons/silk/box.png)!important;}
.i-brick{background-image:url(../../icons/silk/brick.png)!important;}
.i-bricks{background-image:url(../../icons/silk/bricks.png)!important;}
.i-brick-add{background-image:url(../../icons/silk/brick_add.png)!important;}
.i-brick-delete{background-image:url(../../icons/silk/brick_delete.png)!important;}
.i-brick-edit{background-image:url(../../icons/silk/brick_edit.png)!important;}
.i-brick-error{background-image:url(../../icons/silk/brick_error.png)!important;}
.i-brick-go{background-image:url(../../icons/silk/brick_go.png)!important;}
.i-brick-link{background-image:url(../../icons/silk/brick_link.png)!important;}
.i-briefcase{background-image:url(../../icons/silk/briefcase.png)!important;}
.i-bug{background-image:url(../../icons/silk/bug.png)!important;}
.i-bug-add{background-image:url(../../icons/silk/bug_add.png)!important;}
.i-bug-delete{background-image:url(../../icons/silk/bug_delete.png)!important;}
.i-bug-edit{background-image:url(../../icons/silk/bug_edit.png)!important;}
.i-bug-error{background-image:url(../../icons/silk/bug_error.png)!important;}
.i-bug-go{background-image:url(../../icons/silk/bug_go.png)!important;}
.i-bug-link{background-image:url(../../icons/silk/bug_link.png)!important;}
.i-building{background-image:url(../../icons/silk/building.png)!important;}
.i-building-add{background-image:url(../../icons/silk/building_add.png)!important;}
.i-building-delete{background-image:url(../../icons/silk/building_delete.png)!important;}
.i-building-edit{background-image:url(../../icons/silk/building_edit.png)!important;}
.i-building-error{background-image:url(../../icons/silk/building_error.png)!important;}
.i-building-go{background-image:url(../../icons/silk/building_go.png)!important;}
.i-building-key{background-image:url(../../icons/silk/building_key.png)!important;}
.i-building-link{background-image:url(../../icons/silk/building_link.png)!important;}
.i-bullet-add{background-image:url(../../icons/silk/bullet_add.png)!important;}
.i-bullet-arrow-bottom{background-image:url(../../icons/silk/bullet_arrow_bottom.png)!important;}
.i-bullet-arrow-down{background-image:url(../../icons/silk/bullet_arrow_down.png)!important;}
.i-bullet-arrow-top{background-image:url(../../icons/silk/bullet_arrow_top.png)!important;}
.i-bullet-arrow-up{background-image:url(../../icons/silk/bullet_arrow_up.png)!important;}
.i-bullet-black{background-image:url(../../icons/silk/bullet_black.png)!important;}
.i-bullet-blue{background-image:url(../../icons/silk/bullet_blue.png)!important;}
.i-bullet-delete{background-image:url(../../icons/silk/bullet_delete.png)!important;}
.i-bullet-disk{background-image:url(../../icons/silk/bullet_disk.png)!important;}
.i-bullet-error{background-image:url(../../icons/silk/bullet_error.png)!important;}
.i-bullet-feed{background-image:url(../../icons/silk/bullet_feed.png)!important;}
.i-bullet-go{background-image:url(../../icons/silk/bullet_go.png)!important;}
.i-bullet-green{background-image:url(../../icons/silk/bullet_green.png)!important;}
.i-bullet-key{background-image:url(../../icons/silk/bullet_key.png)!important;}
.i-bullet-orange{background-image:url(../../icons/silk/bullet_orange.png)!important;}
.i-bullet-picture{background-image:url(../../icons/silk/bullet_picture.png)!important;}
.i-bullet-pink{background-image:url(../../icons/silk/bullet_pink.png)!important;}
.i-bullet-purple{background-image:url(../../icons/silk/bullet_purple.png)!important;}
.i-bullet-red{background-image:url(../../icons/silk/bullet_red.png)!important;}
.i-bullet-star{background-image:url(../../icons/silk/bullet_star.png)!important;}
.i-bullet-toggle-minus{background-image:url(../../icons/silk/bullet_toggle_minus.png)!important;}
.i-bullet-toggle-plus{background-image:url(../../icons/silk/bullet_toggle_plus.png)!important;}
.i-bullet-white{background-image:url(../../icons/silk/bullet_white.png)!important;}
.i-bullet-wrench{background-image:url(../../icons/silk/bullet_wrench.png)!important;}
.i-bullet-yellow{background-image:url(../../icons/silk/bullet_yellow.png)!important;}
.i-cake{background-image:url(../../icons/silk/cake.png)!important;}
.i-calculator{background-image:url(../../icons/silk/calculator.png)!important;}
.i-calculator-add{background-image:url(../../icons/silk/calculator_add.png)!important;}
.i-calculator-delete{background-image:url(../../icons/silk/calculator_delete.png)!important;}
.i-calculator-edit{background-image:url(../../icons/silk/calculator_edit.png)!important;}
.i-calculator-error{background-image:url(../../icons/silk/calculator_error.png)!important;}
.i-calculator-link{background-image:url(../../icons/silk/calculator_link.png)!important;}
.i-calendar{background-image:url(../../icons/silk/calendar.png)!important;}
.i-calendar-add{background-image:url(../../icons/silk/calendar_add.png)!important;}
.i-calendar-delete{background-image:url(../../icons/silk/calendar_delete.png)!important;}
.i-calendar-edit{background-image:url(../../icons/silk/calendar_edit.png)!important;}
.i-calendar-link{background-image:url(../../icons/silk/calendar_link.png)!important;}
.i-calendar-view-day{background-image:url(../../icons/silk/calendar_view_day.png)!important;}
.i-calendar-view-month{background-image:url(../../icons/silk/calendar_view_month.png)!important;}
.i-calendar-view-week{background-image:url(../../icons/silk/calendar_view_week.png)!important;}
.i-camera{background-image:url(../../icons/silk/camera.png)!important;}
.i-camera-add{background-image:url(../../icons/silk/camera_add.png)!important;}
.i-camera-delete{background-image:url(../../icons/silk/camera_delete.png)!important;}
.i-camera-edit{background-image:url(../../icons/silk/camera_edit.png)!important;}
.i-camera-error{background-image:url(../../icons/silk/camera_error.png)!important;}
.i-camera-go{background-image:url(../../icons/silk/camera_go.png)!important;}
.i-camera-link{background-image:url(../../icons/silk/camera_link.png)!important;}
.i-camera-small{background-image:url(../../icons/silk/camera_small.png)!important;}
.i-cancel{background-image:url(../../icons/silk/cancel.png)!important;}
.i-car{background-image:url(../../icons/silk/car.png)!important;}
.i-cart{background-image:url(../../icons/silk/cart.png)!important;}
.i-cart-add{background-image:url(../../icons/silk/cart_add.png)!important;}
.i-cart-delete{background-image:url(../../icons/silk/cart_delete.png)!important;}
.i-cart-edit{background-image:url(../../icons/silk/cart_edit.png)!important;}
.i-cart-error{background-image:url(../../icons/silk/cart_error.png)!important;}
.i-cart-go{background-image:url(../../icons/silk/cart_go.png)!important;}
.i-cart-put{background-image:url(../../icons/silk/cart_put.png)!important;}
.i-cart-remove{background-image:url(../../icons/silk/cart_remove.png)!important;}
.i-car-add{background-image:url(../../icons/silk/car_add.png)!important;}
.i-car-delete{background-image:url(../../icons/silk/car_delete.png)!important;}
.i-cd{background-image:url(../../icons/silk/cd.png)!important;}
.i-cd-add{background-image:url(../../icons/silk/cd_add.png)!important;}
.i-cd-burn{background-image:url(../../icons/silk/cd_burn.png)!important;}
.i-cd-delete{background-image:url(../../icons/silk/cd_delete.png)!important;}
.i-cd-edit{background-image:url(../../icons/silk/cd_edit.png)!important;}
.i-cd-eject{background-image:url(../../icons/silk/cd_eject.png)!important;}
.i-cd-go{background-image:url(../../icons/silk/cd_go.png)!important;}
.i-chart-bar{background-image:url(../../icons/silk/chart_bar.png)!important;}
.i-chart-bar-add{background-image:url(../../icons/silk/chart_bar_add.png)!important;}
.i-chart-bar-delete{background-image:url(../../icons/silk/chart_bar_delete.png)!important;}
.i-chart-bar-edit{background-image:url(../../icons/silk/chart_bar_edit.png)!important;}
.i-chart-bar-error{background-image:url(../../icons/silk/chart_bar_error.png)!important;}
.i-chart-bar-link{background-image:url(../../icons/silk/chart_bar_link.png)!important;}
.i-chart-curve{background-image:url(../../icons/silk/chart_curve.png)!important;}
.i-chart-curve-add{background-image:url(../../icons/silk/chart_curve_add.png)!important;}
.i-chart-curve-delete{background-image:url(../../icons/silk/chart_curve_delete.png)!important;}
.i-chart-curve-edit{background-image:url(../../icons/silk/chart_curve_edit.png)!important;}
.i-chart-curve-error{background-image:url(../../icons/silk/chart_curve_error.png)!important;}
.i-chart-curve-go{background-image:url(../../icons/silk/chart_curve_go.png)!important;}
.i-chart-curve-link{background-image:url(../../icons/silk/chart_curve_link.png)!important;}
.i-chart-line{background-image:url(../../icons/silk/chart_line.png)!important;}
.i-chart-line-add{background-image:url(../../icons/silk/chart_line_add.png)!important;}
.i-chart-line-delete{background-image:url(../../icons/silk/chart_line_delete.png)!important;}
.i-chart-line-edit{background-image:url(../../icons/silk/chart_line_edit.png)!important;}
.i-chart-line-error{background-image:url(../../icons/silk/chart_line_error.png)!important;}
.i-chart-line-link{background-image:url(../../icons/silk/chart_line_link.png)!important;}
.i-chart-organisation{background-image:url(../../icons/silk/chart_organisation.png)!important;}
.i-chart-organisation-add{background-image:url(../../icons/silk/chart_organisation_add.png)!important;}
.i-chart-organisation-delete{background-image:url(../../icons/silk/chart_organisation_delete.png)!important;}
.i-chart-pie{background-image:url(../../icons/silk/chart_pie.png)!important;}
.i-chart-pie-add{background-image:url(../../icons/silk/chart_pie_add.png)!important;}
.i-chart-pie-delete{background-image:url(../../icons/silk/chart_pie_delete.png)!important;}
.i-chart-pie-edit{background-image:url(../../icons/silk/chart_pie_edit.png)!important;}
.i-chart-pie-error{background-image:url(../../icons/silk/chart_pie_error.png)!important;}
.i-chart-pie-link{background-image:url(../../icons/silk/chart_pie_link.png)!important;}
.i-clock{background-image:url(../../icons/silk/clock.png)!important;}
.i-clock-add{background-image:url(../../icons/silk/clock_add.png)!important;}
.i-clock-delete{background-image:url(../../icons/silk/clock_delete.png)!important;}
.i-clock-edit{background-image:url(../../icons/silk/clock_edit.png)!important;}
.i-clock-error{background-image:url(../../icons/silk/clock_error.png)!important;}
.i-clock-go{background-image:url(../../icons/silk/clock_go.png)!important;}
.i-clock-link{background-image:url(../../icons/silk/clock_link.png)!important;}
.i-clock-pause{background-image:url(../../icons/silk/clock_pause.png)!important;}
.i-clock-play{background-image:url(../../icons/silk/clock_play.png)!important;}
.i-clock-red{background-image:url(../../icons/silk/clock_red.png)!important;}
.i-clock-stop{background-image:url(../../icons/silk/clock_stop.png)!important;}
.i-cog{background-image:url(../../icons/silk/cog.png)!important;}
.i-cog-add{background-image:url(../../icons/silk/cog_add.png)!important;}
.i-cog-delete{background-image:url(../../icons/silk/cog_delete.png)!important;}
.i-cog-edit{background-image:url(../../icons/silk/cog_edit.png)!important;}
.i-cog-error{background-image:url(../../icons/silk/cog_error.png)!important;}
.i-cog-go{background-image:url(../../icons/silk/cog_go.png)!important;}
.i-coins{background-image:url(../../icons/silk/coins.png)!important;}
.i-coins-add{background-image:url(../../icons/silk/coins_add.png)!important;}
.i-coins-delete{background-image:url(../../icons/silk/coins_delete.png)!important;}
.i-color-swatch{background-image:url(../../icons/silk/color_swatch.png)!important;}
.i-color-wheel{background-image:url(../../icons/silk/color_wheel.png)!important;}
.i-comment{background-image:url(../../icons/silk/comment.png)!important;}
.i-comments{background-image:url(../../icons/silk/comments.png)!important;}
.i-comments-add{background-image:url(../../icons/silk/comments_add.png)!important;}
.i-comments-delete{background-image:url(../../icons/silk/comments_delete.png)!important;}
.i-comment-add{background-image:url(../../icons/silk/comment_add.png)!important;}
.i-comment-delete{background-image:url(../../icons/silk/comment_delete.png)!important;}
.i-comment-edit{background-image:url(../../icons/silk/comment_edit.png)!important;}
.i-compress{background-image:url(../../icons/silk/compress.png)!important;}
.i-computer{background-image:url(../../icons/silk/computer.png)!important;}
.i-computer-add{background-image:url(../../icons/silk/computer_add.png)!important;}
.i-computer-delete{background-image:url(../../icons/silk/computer_delete.png)!important;}
.i-computer-edit{background-image:url(../../icons/silk/computer_edit.png)!important;}
.i-computer-error{background-image:url(../../icons/silk/computer_error.png)!important;}
.i-computer-go{background-image:url(../../icons/silk/computer_go.png)!important;}
.i-computer-key{background-image:url(../../icons/silk/computer_key.png)!important;}
.i-computer-link{background-image:url(../../icons/silk/computer_link.png)!important;}
.i-connect{background-image:url(../../icons/silk/connect.png)!important;}
.i-contrast{background-image:url(../../icons/silk/contrast.png)!important;}
.i-contrast-decrease{background-image:url(../../icons/silk/contrast_decrease.png)!important;}
.i-contrast-high{background-image:url(../../icons/silk/contrast_high.png)!important;}
.i-contrast-increase{background-image:url(../../icons/silk/contrast_increase.png)!important;}
.i-contrast-low{background-image:url(../../icons/silk/contrast_low.png)!important;}
.i-controller{background-image:url(../../icons/silk/controller.png)!important;}
.i-controller-add{background-image:url(../../icons/silk/controller_add.png)!important;}
.i-controller-delete{background-image:url(../../icons/silk/controller_delete.png)!important;}
.i-controller-error{background-image:url(../../icons/silk/controller_error.png)!important;}
.i-control-eject{background-image:url(../../icons/silk/control_eject.png)!important;}
.i-control-eject-blue{background-image:url(../../icons/silk/control_eject_blue.png)!important;}
.i-control-end{background-image:url(../../icons/silk/control_end.png)!important;}
.i-control-end-blue{background-image:url(../../icons/silk/control_end_blue.png)!important;}
.i-control-equalizer{background-image:url(../../icons/silk/control_equalizer.png)!important;}
.i-control-equalizer-blue{background-image:url(../../icons/silk/control_equalizer_blue.png)!important;}
.i-control-fastforward{background-image:url(../../icons/silk/control_fastforward.png)!important;}
.i-control-fastforward-blue{background-image:url(../../icons/silk/control_fastforward_blue.png)!important;}
.i-control-pause{background-image:url(../../icons/silk/control_pause.png)!important;}
.i-control-pause-blue{background-image:url(../../icons/silk/control_pause_blue.png)!important;}
.i-control-play{background-image:url(../../icons/silk/control_play.png)!important;}
.i-control-play-blue{background-image:url(../../icons/silk/control_play_blue.png)!important;}
.i-control-repeat{background-image:url(../../icons/silk/control_repeat.png)!important;}
.i-control-repeat-blue{background-image:url(../../icons/silk/control_repeat_blue.png)!important;}
.i-control-rewind{background-image:url(../../icons/silk/control_rewind.png)!important;}
.i-control-rewind-blue{background-image:url(../../icons/silk/control_rewind_blue.png)!important;}
.i-control-start{background-image:url(../../icons/silk/control_start.png)!important;}
.i-control-start-blue{background-image:url(../../icons/silk/control_start_blue.png)!important;}
.i-control-stop{background-image:url(../../icons/silk/control_stop.png)!important;}
.i-control-stop-blue{background-image:url(../../icons/silk/control_stop_blue.png)!important;}
.i-creditcards{background-image:url(../../icons/silk/creditcards.png)!important;}
.i-cross{background-image:url(../../icons/silk/cross.png)!important;}
.i-css{background-image:url(../../icons/silk/css.png)!important;}
.i-css-add{background-image:url(../../icons/silk/css_add.png)!important;}
.i-css-delete{background-image:url(../../icons/silk/css_delete.png)!important;}
.i-css-go{background-image:url(../../icons/silk/css_go.png)!important;}
.i-css-valid{background-image:url(../../icons/silk/css_valid.png)!important;}
.i-cup{background-image:url(../../icons/silk/cup.png)!important;}
.i-cup-add{background-image:url(../../icons/silk/cup_add.png)!important;}
.i-cup-delete{background-image:url(../../icons/silk/cup_delete.png)!important;}
.i-cup-edit{background-image:url(../../icons/silk/cup_edit.png)!important;}
.i-cup-error{background-image:url(../../icons/silk/cup_error.png)!important;}
.i-cup-go{background-image:url(../../icons/silk/cup_go.png)!important;}
.i-cup-key{background-image:url(../../icons/silk/cup_key.png)!important;}
.i-cup-link{background-image:url(../../icons/silk/cup_link.png)!important;}
.i-cursor{background-image:url(../../icons/silk/cursor.png)!important;}
.i-cut{background-image:url(../../icons/silk/cut.png)!important;}
.i-cut-red{background-image:url(../../icons/silk/cut_red.png)!important;}
.i-database{background-image:url(../../icons/silk/database.png)!important;}
.i-database-add{background-image:url(../../icons/silk/database_add.png)!important;}
.i-database-connect{background-image:url(../../icons/silk/database_connect.png)!important;}
.i-database-delete{background-image:url(../../icons/silk/database_delete.png)!important;}
.i-database-edit{background-image:url(../../icons/silk/database_edit.png)!important;}
.i-database-error{background-image:url(../../icons/silk/database_error.png)!important;}
.i-database-gear{background-image:url(../../icons/silk/database_gear.png)!important;}
.i-database-go{background-image:url(../../icons/silk/database_go.png)!important;}
.i-database-key{background-image:url(../../icons/silk/database_key.png)!important;}
.i-database-lightning{background-image:url(../../icons/silk/database_lightning.png)!important;}
.i-database-link{background-image:url(../../icons/silk/database_link.png)!important;}
.i-database-refresh{background-image:url(../../icons/silk/database_refresh.png)!important;}
.i-database-save{background-image:url(../../icons/silk/database_save.png)!important;}
.i-database-table{background-image:url(../../icons/silk/database_table.png)!important;}
.i-date{background-image:url(../../icons/silk/date.png)!important;}
.i-date-add{background-image:url(../../icons/silk/date_add.png)!important;}
.i-date-delete{background-image:url(../../icons/silk/date_delete.png)!important;}
.i-date-edit{background-image:url(../../icons/silk/date_edit.png)!important;}
.i-date-error{background-image:url(../../icons/silk/date_error.png)!important;}
.i-date-go{background-image:url(../../icons/silk/date_go.png)!important;}
.i-date-link{background-image:url(../../icons/silk/date_link.png)!important;}
.i-date-magnify{background-image:url(../../icons/silk/date_magnify.png)!important;}
.i-date-next{background-image:url(../../icons/silk/date_next.png)!important;}
.i-date-previous{background-image:url(../../icons/silk/date_previous.png)!important;}
.i-delete{background-image:url(../../icons/silk/delete.png)!important;}
.i-disconnect{background-image:url(../../icons/silk/disconnect.png)!important;}
.i-disk{background-image:url(../../icons/silk/disk.png)!important;}
.i-disk-multiple{background-image:url(../../icons/silk/disk_multiple.png)!important;}
.i-door{background-image:url(../../icons/silk/door.png)!important;}
.i-door-in{background-image:url(../../icons/silk/door_in.png)!important;}
.i-door-open{background-image:url(../../icons/silk/door_open.png)!important;}
.i-door-out{background-image:url(../../icons/silk/door_out.png)!important;}
.i-drink{background-image:url(../../icons/silk/drink.png)!important;}
.i-drink-empty{background-image:url(../../icons/silk/drink_empty.png)!important;}
.i-drive{background-image:url(../../icons/silk/drive.png)!important;}
.i-drive-add{background-image:url(../../icons/silk/drive_add.png)!important;}
.i-drive-burn{background-image:url(../../icons/silk/drive_burn.png)!important;}
.i-drive-cd{background-image:url(../../icons/silk/drive_cd.png)!important;}
.i-drive-cd-empty{background-image:url(../../icons/silk/drive_cd_empty.png)!important;}
.i-drive-delete{background-image:url(../../icons/silk/drive_delete.png)!important;}
.i-drive-disk{background-image:url(../../icons/silk/drive_disk.png)!important;}
.i-drive-edit{background-image:url(../../icons/silk/drive_edit.png)!important;}
.i-drive-error{background-image:url(../../icons/silk/drive_error.png)!important;}
.i-drive-go{background-image:url(../../icons/silk/drive_go.png)!important;}
.i-drive-key{background-image:url(../../icons/silk/drive_key.png)!important;}
.i-drive-link{background-image:url(../../icons/silk/drive_link.png)!important;}
.i-drive-magnify{background-image:url(../../icons/silk/drive_magnify.png)!important;}
.i-drive-network{background-image:url(../../icons/silk/drive_network.png)!important;}
.i-drive-rename{background-image:url(../../icons/silk/drive_rename.png)!important;}
.i-drive-user{background-image:url(../../icons/silk/drive_user.png)!important;}
.i-drive-web{background-image:url(../../icons/silk/drive_web.png)!important;}
.i-dvd{background-image:url(../../icons/silk/dvd.png)!important;}
.i-dvd-add{background-image:url(../../icons/silk/dvd_add.png)!important;}
.i-dvd-delete{background-image:url(../../icons/silk/dvd_delete.png)!important;}
.i-dvd-edit{background-image:url(../../icons/silk/dvd_edit.png)!important;}
.i-dvd-error{background-image:url(../../icons/silk/dvd_error.png)!important;}
.i-dvd-go{background-image:url(../../icons/silk/dvd_go.png)!important;}
.i-dvd-key{background-image:url(../../icons/silk/dvd_key.png)!important;}
.i-dvd-link{background-image:url(../../icons/silk/dvd_link.png)!important;}
.i-email{background-image:url(../../icons/silk/email.png)!important;}
.i-email-add{background-image:url(../../icons/silk/email_add.png)!important;}
.i-email-attach{background-image:url(../../icons/silk/email_attach.png)!important;}
.i-email-delete{background-image:url(../../icons/silk/email_delete.png)!important;}
.i-email-edit{background-image:url(../../icons/silk/email_edit.png)!important;}
.i-email-error{background-image:url(../../icons/silk/email_error.png)!important;}
.i-email-go{background-image:url(../../icons/silk/email_go.png)!important;}
.i-email-link{background-image:url(../../icons/silk/email_link.png)!important;}
.i-email-open{background-image:url(../../icons/silk/email_open.png)!important;}
.i-email-open-image{background-image:url(../../icons/silk/email_open_image.png)!important;}
.i-emoticon-evilgrin{background-image:url(../../icons/silk/emoticon_evilgrin.png)!important;}
.i-emoticon-grin{background-image:url(../../icons/silk/emoticon_grin.png)!important;}
.i-emoticon-happy{background-image:url(../../icons/silk/emoticon_happy.png)!important;}
.i-emoticon-smile{background-image:url(../../icons/silk/emoticon_smile.png)!important;}
.i-emoticon-surprised{background-image:url(../../icons/silk/emoticon_surprised.png)!important;}
.i-emoticon-tongue{background-image:url(../../icons/silk/emoticon_tongue.png)!important;}
.i-emoticon-unhappy{background-image:url(../../icons/silk/emoticon_unhappy.png)!important;}
.i-emoticon-waii{background-image:url(../../icons/silk/emoticon_waii.png)!important;}
.i-emoticon-wink{background-image:url(../../icons/silk/emoticon_wink.png)!important;}
.i-error{background-image:url(../../icons/silk/error.png)!important;}
.i-error-add{background-image:url(../../icons/silk/error_add.png)!important;}
.i-error-delete{background-image:url(../../icons/silk/error_delete.png)!important;}
.i-error-go{background-image:url(../../icons/silk/error_go.png)!important;}
.i-exclamation{background-image:url(../../icons/silk/exclamation.png)!important;}
.i-eye{background-image:url(../../icons/silk/eye.png)!important;}
.i-fb{background-image:url(../../icons/silk/facebook.png)!important;}
.i-feed{background-image:url(../../icons/silk/feed.png)!important;}
.i-feed-add{background-image:url(../../icons/silk/feed_add.png)!important;}
.i-feed-delete{background-image:url(../../icons/silk/feed_delete.png)!important;}
.i-feed-disk{background-image:url(../../icons/silk/feed_disk.png)!important;}
.i-feed-edit{background-image:url(../../icons/silk/feed_edit.png)!important;}
.i-feed-error{background-image:url(../../icons/silk/feed_error.png)!important;}
.i-feed-go{background-image:url(../../icons/silk/feed_go.png)!important;}
.i-feed-key{background-image:url(../../icons/silk/feed_key.png)!important;}
.i-feed-link{background-image:url(../../icons/silk/feed_link.png)!important;}
.i-feed-magnify{background-image:url(../../icons/silk/feed_magnify.png)!important;}
.i-female{background-image:url(../../icons/silk/female.png)!important;}
.i-film{background-image:url(../../icons/silk/film.png)!important;}
.i-film-add{background-image:url(../../icons/silk/film_add.png)!important;}
.i-film-delete{background-image:url(../../icons/silk/film_delete.png)!important;}
.i-film-edit{background-image:url(../../icons/silk/film_edit.png)!important;}
.i-film-error{background-image:url(../../icons/silk/film_error.png)!important;}
.i-film-go{background-image:url(../../icons/silk/film_go.png)!important;}
.i-film-key{background-image:url(../../icons/silk/film_key.png)!important;}
.i-film-link{background-image:url(../../icons/silk/film_link.png)!important;}
.i-film-save{background-image:url(../../icons/silk/film_save.png)!important;}
.i-find{background-image:url(../../icons/silk/find.png)!important;}
.i-flag-blue{background-image:url(../../icons/silk/flag_blue.png)!important;}
.i-flag-green{background-image:url(../../icons/silk/flag_green.png)!important;}
.i-flag-orange{background-image:url(../../icons/silk/flag_orange.png)!important;}
.i-flag-pink{background-image:url(../../icons/silk/flag_pink.png)!important;}
.i-flag-purple{background-image:url(../../icons/silk/flag_purple.png)!important;}
.i-flag-red{background-image:url(../../icons/silk/flag_red.png)!important;}
.i-flag-yellow{background-image:url(../../icons/silk/flag_yellow.png)!important;}
.i-folder{background-image:url(../../icons/silk/folder.png)!important;}
.i-folder-add{background-image:url(../../icons/silk/folder_add.png)!important;}
.i-folder-bell{background-image:url(../../icons/silk/folder_bell.png)!important;}
.i-folder-brick{background-image:url(../../icons/silk/folder_brick.png)!important;}
.i-folder-bug{background-image:url(../../icons/silk/folder_bug.png)!important;}
.i-folder-camera{background-image:url(../../icons/silk/folder_camera.png)!important;}
.i-folder-database{background-image:url(../../icons/silk/folder_database.png)!important;}
.i-folder-delete{background-image:url(../../icons/silk/folder_delete.png)!important;}
.i-folder-edit{background-image:url(../../icons/silk/folder_edit.png)!important;}
.i-folder-error{background-image:url(../../icons/silk/folder_error.png)!important;}
.i-folder-explore{background-image:url(../../icons/silk/folder_explore.png)!important;}
.i-folder-feed{background-image:url(../../icons/silk/folder_feed.png)!important;}
.i-folder-find{background-image:url(../../icons/silk/folder_find.png)!important;}
.i-folder-go{background-image:url(../../icons/silk/folder_go.png)!important;}
.i-folder-heart{background-image:url(../../icons/silk/folder_heart.png)!important;}
.i-folder-image{background-image:url(../../icons/silk/folder_image.png)!important;}
.i-folder-key{background-image:url(../../icons/silk/folder_key.png)!important;}
.i-folder-lightbulb{background-image:url(../../icons/silk/folder_lightbulb.png)!important;}
.i-folder-link{background-image:url(../../icons/silk/folder_link.png)!important;}
.i-folder-magnify{background-image:url(../../icons/silk/folder_magnify.png)!important;}
.i-folder-page{background-image:url(../../icons/silk/folder_page.png)!important;}
.i-folder-page-white{background-image:url(../../icons/silk/folder_page_white.png)!important;}
.i-folder-palette{background-image:url(../../icons/silk/folder_palette.png)!important;}
.i-folder-picture{background-image:url(../../icons/silk/folder_picture.png)!important;}
.i-folder-star{background-image:url(../../icons/silk/folder_star.png)!important;}
.i-folder-table{background-image:url(../../icons/silk/folder_table.png)!important;}
.i-folder-user{background-image:url(../../icons/silk/folder_user.png)!important;}
.i-folder-wrench{background-image:url(../../icons/silk/folder_wrench.png)!important;}
.i-font{background-image:url(../../icons/silk/font.png)!important;}
.i-font-add{background-image:url(../../icons/silk/font_add.png)!important;}
.i-font-delete{background-image:url(../../icons/silk/font_delete.png)!important;}
.i-font-go{background-image:url(../../icons/silk/font_go.png)!important;}
.i-googleplus{background-image:url(../../icons/silk/googleplus.png)!important;}
.i-group{background-image:url(../../icons/silk/group.png)!important;}
.i-group-add{background-image:url(../../icons/silk/group_add.png)!important;}
.i-group-delete{background-image:url(../../icons/silk/group_delete.png)!important;}
.i-group-edit{background-image:url(../../icons/silk/group_edit.png)!important;}
.i-group-error{background-image:url(../../icons/silk/group_error.png)!important;}
.i-group-gear{background-image:url(../../icons/silk/group_gear.png)!important;}
.i-group-go{background-image:url(../../icons/silk/group_go.png)!important;}
.i-group-key{background-image:url(../../icons/silk/group_key.png)!important;}
.i-group-link{background-image:url(../../icons/silk/group_link.png)!important;}
.i-gm{background-image:url(../../icons/silk/golden_market.png)!important;}
.i-heart{background-image:url(../../icons/silk/heart.png)!important;}
.i-heart-add{background-image:url(../../icons/silk/heart_add.png)!important;}
.i-heart-delete{background-image:url(../../icons/silk/heart_delete.png)!important;}
.i-help{background-image:url(../../icons/silk/help.png)!important;}
.i-hourglass{background-image:url(../../icons/silk/hourglass.png)!important;}
.i-hourglass-add{background-image:url(../../icons/silk/hourglass_add.png)!important;}
.i-hourglass-delete{background-image:url(../../icons/silk/hourglass_delete.png)!important;}
.i-hourglass-go{background-image:url(../../icons/silk/hourglass_go.png)!important;}
.i-hourglass-link{background-image:url(../../icons/silk/hourglass_link.png)!important;}
.i-house{background-image:url(../../icons/silk/house.png)!important;}
.i-house-go{background-image:url(../../icons/silk/house_go.png)!important;}
.i-house-link{background-image:url(../../icons/silk/house_link.png)!important;}
.i-html{background-image:url(../../icons/silk/html.png)!important;}
.i-html-add{background-image:url(../../icons/silk/html_add.png)!important;}
.i-html-delete{background-image:url(../../icons/silk/html_delete.png)!important;}
.i-html-go{background-image:url(../../icons/silk/html_go.png)!important;}
.i-html-valid{background-image:url(../../icons/silk/html_valid.png)!important;}
.i-image{background-image:url(../../icons/silk/image.png)!important;}
.i-images{background-image:url(../../icons/silk/images.png)!important;}
.i-image-add{background-image:url(../../icons/silk/image_add.png)!important;}
.i-image-delete{background-image:url(../../icons/silk/image_delete.png)!important;}
.i-image-edit{background-image:url(../../icons/silk/image_edit.png)!important;}
.i-image-link{background-image:url(../../icons/silk/image_link.png)!important;}
.i-information{background-image:url(../../icons/silk/information.png)!important;}
.i-ipod{background-image:url(../../icons/silk/ipod.png)!important;}
.i-ipod-cast{background-image:url(../../icons/silk/ipod_cast.png)!important;}
.i-ipod-cast-add{background-image:url(../../icons/silk/ipod_cast_add.png)!important;}
.i-ipod-cast-delete{background-image:url(../../icons/silk/ipod_cast_delete.png)!important;}
.i-ipod-sound{background-image:url(../../icons/silk/ipod_sound.png)!important;}
.i-joystick{background-image:url(../../icons/silk/joystick.png)!important;}
.i-joystick-add{background-image:url(../../icons/silk/joystick_add.png)!important;}
.i-joystick-delete{background-image:url(../../icons/silk/joystick_delete.png)!important;}
.i-joystick-error{background-image:url(../../icons/silk/joystick_error.png)!important;}
.i-key{background-image:url(../../icons/silk/key.png)!important;}
.i-keyboard{background-image:url(../../icons/silk/keyboard.png)!important;}
.i-keyboard-add{background-image:url(../../icons/silk/keyboard_add.png)!important;}
.i-keyboard-delete{background-image:url(../../icons/silk/keyboard_delete.png)!important;}
.i-keyboard-magnify{background-image:url(../../icons/silk/keyboard_magnify.png)!important;}
.i-key-add{background-image:url(../../icons/silk/key_add.png)!important;}
.i-key-delete{background-image:url(../../icons/silk/key_delete.png)!important;}
.i-key-go{background-image:url(../../icons/silk/key_go.png)!important;}
.i-layers{background-image:url(../../icons/silk/layers.png)!important;}
.i-layout{background-image:url(../../icons/silk/layout.png)!important;}
.i-layout-add{background-image:url(../../icons/silk/layout_add.png)!important;}
.i-layout-content{background-image:url(../../icons/silk/layout_content.png)!important;}
.i-layout-delete{background-image:url(../../icons/silk/layout_delete.png)!important;}
.i-layout-edit{background-image:url(../../icons/silk/layout_edit.png)!important;}
.i-layout-error{background-image:url(../../icons/silk/layout_error.png)!important;}
.i-layout-header{background-image:url(../../icons/silk/layout_header.png)!important;}
.i-layout-link{background-image:url(../../icons/silk/layout_link.png)!important;}
.i-layout-sidebar{background-image:url(../../icons/silk/layout_sidebar.png)!important;}
.i-lightbulb{background-image:url(../../icons/silk/lightbulb.png)!important;}
.i-lightbulb-add{background-image:url(../../icons/silk/lightbulb_add.png)!important;}
.i-lightbulb-delete{background-image:url(../../icons/silk/lightbulb_delete.png)!important;}
.i-lightbulb-off{background-image:url(../../icons/silk/lightbulb_off.png)!important;}
.i-lightning{background-image:url(../../icons/silk/lightning.png)!important;}
.i-lightning-add{background-image:url(../../icons/silk/lightning_add.png)!important;}
.i-lightning-delete{background-image:url(../../icons/silk/lightning_delete.png)!important;}
.i-lightning-go{background-image:url(../../icons/silk/lightning_go.png)!important;}
.i-link{background-image:url(../../icons/silk/link.png)!important;}
.i-link-add{background-image:url(../../icons/silk/link_add.png)!important;}
.i-link-break{background-image:url(../../icons/silk/link_break.png)!important;}
.i-link-delete{background-image:url(../../icons/silk/link_delete.png)!important;}
.i-link-edit{background-image:url(../../icons/silk/link_edit.png)!important;}
.i-link-error{background-image:url(../../icons/silk/link_error.png)!important;}
.i-link-go{background-image:url(../../icons/silk/link_go.png)!important;}
.i-lock{background-image:url(../../icons/silk/lock.png)!important;}
.i-lock-add{background-image:url(../../icons/silk/lock_add.png)!important;}
.i-lock-break{background-image:url(../../icons/silk/lock_break.png)!important;}
.i-lock-delete{background-image:url(../../icons/silk/lock_delete.png)!important;}
.i-lock-edit{background-image:url(../../icons/silk/lock_edit.png)!important;}
.i-lock-go{background-image:url(../../icons/silk/lock_go.png)!important;}
.i-lock-open{background-image:url(../../icons/silk/lock_open.png)!important;}
.i-lorry{background-image:url(../../icons/silk/lorry.png)!important;}
.i-lorry-add{background-image:url(../../icons/silk/lorry_add.png)!important;}
.i-lorry-delete{background-image:url(../../icons/silk/lorry_delete.png)!important;}
.i-lorry-error{background-image:url(../../icons/silk/lorry_error.png)!important;}
.i-lorry-flatbed{background-image:url(../../icons/silk/lorry_flatbed.png)!important;}
.i-lorry-go{background-image:url(../../icons/silk/lorry_go.png)!important;}
.i-lorry-link{background-image:url(../../icons/silk/lorry_link.png)!important;}
.i-magnifier{background-image:url(../../icons/silk/magnifier.png)!important;}
.i-magnifier-zoom-in{background-image:url(../../icons/silk/magnifier_zoom_in.png)!important;}
.i-magnifier-zoom-out{background-image:url(../../icons/silk/magnifier_zoom_out.png)!important;}
.i-male{background-image:url(../../icons/silk/male.png)!important;}
.i-map{background-image:url(../../icons/silk/map.png)!important;}
.i-map-add{background-image:url(../../icons/silk/map_add.png)!important;}
.i-map-delete{background-image:url(../../icons/silk/map_delete.png)!important;}
.i-map-edit{background-image:url(../../icons/silk/map_edit.png)!important;}
.i-map-go{background-image:url(../../icons/silk/map_go.png)!important;}
.i-map-magnify{background-image:url(../../icons/silk/map_magnify.png)!important;}
.i-medal-bronze-1{background-image:url(../../icons/silk/medal_bronze_1.png)!important;}
.i-medal-bronze-2{background-image:url(../../icons/silk/medal_bronze_2.png)!important;}
.i-medal-bronze-3{background-image:url(../../icons/silk/medal_bronze_3.png)!important;}
.i-medal-bronze-add{background-image:url(../../icons/silk/medal_bronze_add.png)!important;}
.i-medal-bronze-delete{background-image:url(../../icons/silk/medal_bronze_delete.png)!important;}
.i-medal-gold-1{background-image:url(../../icons/silk/medal_gold_1.png)!important;}
.i-medal-gold-2{background-image:url(../../icons/silk/medal_gold_2.png)!important;}
.i-medal-gold-3{background-image:url(../../icons/silk/medal_gold_3.png)!important;}
.i-medal-gold-add{background-image:url(../../icons/silk/medal_gold_add.png)!important;}
.i-medal-gold-delete{background-image:url(../../icons/silk/medal_gold_delete.png)!important;}
.i-medal-silver-1{background-image:url(../../icons/silk/medal_silver_1.png)!important;}
.i-medal-silver-2{background-image:url(../../icons/silk/medal_silver_2.png)!important;}
.i-medal-silver-3{background-image:url(../../icons/silk/medal_silver_3.png)!important;}
.i-medal-silver-add{background-image:url(../../icons/silk/medal_silver_add.png)!important;}
.i-medal-silver-delete{background-image:url(../../icons/silk/medal_silver_delete.png)!important;}
.i-money{background-image:url(../../icons/silk/money.png)!important;}
.i-money-add{background-image:url(../../icons/silk/money_add.png)!important;}
.i-money-delete{background-image:url(../../icons/silk/money_delete.png)!important;}
.i-money-dollar{background-image:url(../../icons/silk/money_dollar.png)!important;}
.i-money-euro{background-image:url(../../icons/silk/money_euro.png)!important;}
.i-money-pound{background-image:url(../../icons/silk/money_pound.png)!important;}
.i-money-yen{background-image:url(../../icons/silk/money_yen.png)!important;}
.i-monitor{background-image:url(../../icons/silk/monitor.png)!important;}
.i-monitor-add{background-image:url(../../icons/silk/monitor_add.png)!important;}
.i-monitor-delete{background-image:url(../../icons/silk/monitor_delete.png)!important;}
.i-monitor-edit{background-image:url(../../icons/silk/monitor_edit.png)!important;}
.i-monitor-error{background-image:url(../../icons/silk/monitor_error.png)!important;}
.i-monitor-go{background-image:url(../../icons/silk/monitor_go.png)!important;}
.i-monitor-lightning{background-image:url(../../icons/silk/monitor_lightning.png)!important;}
.i-monitor-link{background-image:url(../../icons/silk/monitor_link.png)!important;}
.i-mouse{background-image:url(../../icons/silk/mouse.png)!important;}
.i-mouse-add{background-image:url(../../icons/silk/mouse_add.png)!important;}
.i-mouse-delete{background-image:url(../../icons/silk/mouse_delete.png)!important;}
.i-mouse-error{background-image:url(../../icons/silk/mouse_error.png)!important;}
.i-music{background-image:url(../../icons/silk/music.png)!important;}
.i-new{background-image:url(../../icons/silk/new.png)!important;}
.i-newspaper{background-image:url(../../icons/silk/newspaper.png)!important;}
.i-newspaper-add{background-image:url(../../icons/silk/newspaper_add.png)!important;}
.i-newspaper-delete{background-image:url(../../icons/silk/newspaper_delete.png)!important;}
.i-newspaper-go{background-image:url(../../icons/silk/newspaper_go.png)!important;}
.i-newspaper-link{background-image:url(../../icons/silk/newspaper_link.png)!important;}
.i-note{background-image:url(../../icons/silk/note.png)!important;}
.i-note-add{background-image:url(../../icons/silk/note_add.png)!important;}
.i-note-delete{background-image:url(../../icons/silk/note_delete.png)!important;}
.i-note-edit{background-image:url(../../icons/silk/note_edit.png)!important;}
.i-note-error{background-image:url(../../icons/silk/note_error.png)!important;}
.i-note-go{background-image:url(../../icons/silk/note_go.png)!important;}
.i-overlays{background-image:url(../../icons/silk/overlays.png)!important;}
.i-package{background-image:url(../../icons/silk/package.png)!important;}
.i-package-add{background-image:url(../../icons/silk/package_add.png)!important;}
.i-package-delete{background-image:url(../../icons/silk/package_delete.png)!important;}
.i-package-go{background-image:url(../../icons/silk/package_go.png)!important;}
.i-package-green{background-image:url(../../icons/silk/package_green.png)!important;}
.i-package-link{background-image:url(../../icons/silk/package_link.png)!important;}
.i-document{background-image:url(../../icons/silk/page.png)!important;}
.i-page{background-image:url(../../icons/silk/page.png)!important;}
.i-page-add{background-image:url(../../icons/silk/page_add.png)!important;}
.i-page-attach{background-image:url(../../icons/silk/page_attach.png)!important;}
.i-page-code{background-image:url(../../icons/silk/page_code.png)!important;}
.i-page-copy{background-image:url(../../icons/silk/page_copy.png)!important;}
.i-page-delete{background-image:url(../../icons/silk/page_delete.png)!important;}
.i-page-edit{background-image:url(../../icons/silk/page_edit.png)!important;}
.i-page-error{background-image:url(../../icons/silk/page_error.png)!important;}
.i-page-excel{background-image:url(../../icons/silk/page_excel.png)!important;}
.i-page-find{background-image:url(../../icons/silk/page_find.png)!important;}
.i-page-gear{background-image:url(../../icons/silk/page_gear.png)!important;}
.i-page-go{background-image:url(../../icons/silk/page_go.png)!important;}
.i-page-green{background-image:url(../../icons/silk/page_green.png)!important;}
.i-page-key{background-image:url(../../icons/silk/page_key.png)!important;}
.i-page-lightning{background-image:url(../../icons/silk/page_lightning.png)!important;}
.i-page-link{background-image:url(../../icons/silk/page_link.png)!important;}
.i-page-paintbrush{background-image:url(../../icons/silk/page_paintbrush.png)!important;}
.i-page-paste{background-image:url(../../icons/silk/page_paste.png)!important;}
.i-page-red{background-image:url(../../icons/silk/page_red.png)!important;}
.i-page-refresh{background-image:url(../../icons/silk/page_refresh.png)!important;}
.i-page-save{background-image:url(../../icons/silk/page_save.png)!important;}
.i-page-white{background-image:url(../../icons/silk/page_white.png)!important;}
.i-page-white-acrobat{background-image:url(../../icons/silk/page_white_acrobat.png)!important;}
.i-page-white-actionscript{background-image:url(../../icons/silk/page_white_actionscript.png)!important;}
.i-page-white-add{background-image:url(../../icons/silk/page_white_add.png)!important;}
.i-page-white-c{background-image:url(../../icons/silk/page_white_c.png)!important;}
.i-page-white-camera{background-image:url(../../icons/silk/page_white_camera.png)!important;}
.i-page-white-cd{background-image:url(../../icons/silk/page_white_cd.png)!important;}
.i-page-white-code{background-image:url(../../icons/silk/page_white_code.png)!important;}
.i-page-white-code-red{background-image:url(../../icons/silk/page_white_code_red.png)!important;}
.i-page-white-coldfusion{background-image:url(../../icons/silk/page_white_coldfusion.png)!important;}
.i-page-white-compressed{background-image:url(../../icons/silk/page_white_compressed.png)!important;}
.i-page-white-copy{background-image:url(../../icons/silk/page_white_copy.png)!important;}
.i-page-white-cplusplus{background-image:url(../../icons/silk/page_white_cplusplus.png)!important;}
.i-page-white-csharp{background-image:url(../../icons/silk/page_white_csharp.png)!important;}
.i-page-white-cup{background-image:url(../../icons/silk/page_white_cup.png)!important;}
.i-page-white-database{background-image:url(../../icons/silk/page_white_database.png)!important;}
.i-page-white-delete{background-image:url(../../icons/silk/page_white_delete.png)!important;}
.i-page-white-dvd{background-image:url(../../icons/silk/page_white_dvd.png)!important;}
.i-page-white-edit{background-image:url(../../icons/silk/page_white_edit.png)!important;}
.i-page-white-error{background-image:url(../../icons/silk/page_white_error.png)!important;}
.i-page-white-excel{background-image:url(../../icons/silk/page_white_excel.png)!important;}
.i-page-white-find{background-image:url(../../icons/silk/page_white_find.png)!important;}
.i-page-white-flash{background-image:url(../../icons/silk/page_white_flash.png)!important;}
.i-page-white-freehand{background-image:url(../../icons/silk/page_white_freehand.png)!important;}
.i-page-white-gear{background-image:url(../../icons/silk/page_white_gear.png)!important;}
.i-page-white-get{background-image:url(../../icons/silk/page_white_get.png)!important;}
.i-page-white-go{background-image:url(../../icons/silk/page_white_go.png)!important;}
.i-page-white-h{background-image:url(../../icons/silk/page_white_h.png)!important;}
.i-page-white-horizontal{background-image:url(../../icons/silk/page_white_horizontal.png)!important;}
.i-page-white-key{background-image:url(../../icons/silk/page_white_key.png)!important;}
.i-page-white-lightning{background-image:url(../../icons/silk/page_white_lightning.png)!important;}
.i-page-white-link{background-image:url(../../icons/silk/page_white_link.png)!important;}
.i-page-white-magnify{background-image:url(../../icons/silk/page_white_magnify.png)!important;}
.i-page-white-medal{background-image:url(../../icons/silk/page_white_medal.png)!important;}
.i-page-white-office{background-image:url(../../icons/silk/page_white_office.png)!important;}
.i-page-white-paint{background-image:url(../../icons/silk/page_white_paint.png)!important;}
.i-page-white-paintbrush{background-image:url(../../icons/silk/page_white_paintbrush.png)!important;}
.i-page-white-paste{background-image:url(../../icons/silk/page_white_paste.png)!important;}
.i-page-white-php{background-image:url(../../icons/silk/page_white_php.png)!important;}
.i-page-white-picture{background-image:url(../../icons/silk/page_white_picture.png)!important;}
.i-page-white-powerpoint{background-image:url(../../icons/silk/page_white_powerpoint.png)!important;}
.i-page-white-put{background-image:url(../../icons/silk/page_white_put.png)!important;}
.i-page-white-ruby{background-image:url(../../icons/silk/page_white_ruby.png)!important;}
.i-page-white-stack{background-image:url(../../icons/silk/page_white_stack.png)!important;}
.i-page-white-star{background-image:url(../../icons/silk/page_white_star.png)!important;}
.i-page-white-swoosh{background-image:url(../../icons/silk/page_white_swoosh.png)!important;}
.i-page-white-text{background-image:url(../../icons/silk/page_white_text.png)!important;}
.i-page-white-text-width{background-image:url(../../icons/silk/page_white_text_width.png)!important;}
.i-page-white-tux{background-image:url(../../icons/silk/page_white_tux.png)!important;}
.i-page-white-vector{background-image:url(../../icons/silk/page_white_vector.png)!important;}
.i-page-white-visualstudio{background-image:url(../../icons/silk/page_white_visualstudio.png)!important;}
.i-page-white-width{background-image:url(../../icons/silk/page_white_width.png)!important;}
.i-page-white-word{background-image:url(../../icons/silk/page_white_word.png)!important;}
.i-page-white-world{background-image:url(../../icons/silk/page_white_world.png)!important;}
.i-page-white-wrench{background-image:url(../../icons/silk/page_white_wrench.png)!important;}
.i-page-white-zip{background-image:url(../../icons/silk/page_white_zip.png)!important;}
.i-page-word{background-image:url(../../icons/silk/page_word.png)!important;}
.i-page-world{background-image:url(../../icons/silk/page_world.png)!important;}
.i-paintbrush{background-image:url(../../icons/silk/paintbrush.png)!important;}
.i-paintcan{background-image:url(../../icons/silk/paintcan.png)!important;}
.i-palette{background-image:url(../../icons/silk/palette.png)!important;}
.i-paste-plain{background-image:url(../../icons/silk/paste_plain.png)!important;}
.i-paste-word{background-image:url(../../icons/silk/paste_word.png)!important;}
.i-pencil{background-image:url(../../icons/silk/pencil.png)!important;}
.i-pencil-add{background-image:url(../../icons/silk/pencil_add.png)!important;}
.i-pencil-delete{background-image:url(../../icons/silk/pencil_delete.png)!important;}
.i-pencil-go{background-image:url(../../icons/silk/pencil_go.png)!important;}
.i-phone{background-image:url(../../icons/silk/phone.png)!important;}
.i-phone-add{background-image:url(../../icons/silk/phone_add.png)!important;}
.i-phone-delete{background-image:url(../../icons/silk/phone_delete.png)!important;}
.i-phone-sound{background-image:url(../../icons/silk/phone_sound.png)!important;}
.i-photo{background-image:url(../../icons/silk/photo.png)!important;}
.i-photos{background-image:url(../../icons/silk/photos.png)!important;}
.i-photo-add{background-image:url(../../icons/silk/photo_add.png)!important;}
.i-photo-delete{background-image:url(../../icons/silk/photo_delete.png)!important;}
.i-photo-link{background-image:url(../../icons/silk/photo_link.png)!important;}
.i-picture{background-image:url(../../icons/silk/picture.png)!important;}
.i-pictures{background-image:url(../../icons/silk/pictures.png)!important;}
.i-picture-add{background-image:url(../../icons/silk/picture_add.png)!important;}
.i-picture-delete{background-image:url(../../icons/silk/picture_delete.png)!important;}
.i-picture-edit{background-image:url(../../icons/silk/picture_edit.png)!important;}
.i-picture-empty{background-image:url(../../icons/silk/picture_empty.png)!important;}
.i-picture-error{background-image:url(../../icons/silk/picture_error.png)!important;}
.i-picture-go{background-image:url(../../icons/silk/picture_go.png)!important;}
.i-picture-key{background-image:url(../../icons/silk/picture_key.png)!important;}
.i-picture-link{background-image:url(../../icons/silk/picture_link.png)!important;}
.i-picture-save{background-image:url(../../icons/silk/picture_save.png)!important;}
.i-pilcrow{background-image:url(../../icons/silk/pilcrow.png)!important;}
.i-pill{background-image:url(../../icons/silk/pill.png)!important;}
.i-pill-add{background-image:url(../../icons/silk/pill_add.png)!important;}
.i-pill-delete{background-image:url(../../icons/silk/pill_delete.png)!important;}
.i-pill-go{background-image:url(../../icons/silk/pill_go.png)!important;}
.i-plugin{background-image:url(../../icons/silk/plugin.png)!important;}
.i-plugin-add{background-image:url(../../icons/silk/plugin_add.png)!important;}
.i-plugin-delete{background-image:url(../../icons/silk/plugin_delete.png)!important;}
.i-plugin-disabled{background-image:url(../../icons/silk/plugin_disabled.png)!important;}
.i-plugin-edit{background-image:url(../../icons/silk/plugin_edit.png)!important;}
.i-plugin-error{background-image:url(../../icons/silk/plugin_error.png)!important;}
.i-plugin-go{background-image:url(../../icons/silk/plugin_go.png)!important;}
.i-plugin-link{background-image:url(../../icons/silk/plugin_link.png)!important;}
.i-printer{background-image:url(../../icons/silk/printer.png)!important;}
.i-printer-add{background-image:url(../../icons/silk/printer_add.png)!important;}
.i-printer-delete{background-image:url(../../icons/silk/printer_delete.png)!important;}
.i-printer-empty{background-image:url(../../icons/silk/printer_empty.png)!important;}
.i-printer-error{background-image:url(../../icons/silk/printer_error.png)!important;}
.i-rainbow{background-image:url(../../icons/silk/rainbow.png)!important;}
.i-report{background-image:url(../../icons/silk/report.png)!important;}
.i-report-add{background-image:url(../../icons/silk/report_add.png)!important;}
.i-report-delete{background-image:url(../../icons/silk/report_delete.png)!important;}
.i-report-disk{background-image:url(../../icons/silk/report_disk.png)!important;}
.i-report-edit{background-image:url(../../icons/silk/report_edit.png)!important;}
.i-report-go{background-image:url(../../icons/silk/report_go.png)!important;}
.i-report-key{background-image:url(../../icons/silk/report_key.png)!important;}
.i-report-link{background-image:url(../../icons/silk/report_link.png)!important;}
.i-report-magnify{background-image:url(../../icons/silk/report_magnify.png)!important;}
.i-report-picture{background-image:url(../../icons/silk/report_picture.png)!important;}
.i-report-user{background-image:url(../../icons/silk/report_user.png)!important;}
.i-report-word{background-image:url(../../icons/silk/report_word.png)!important;}
.i-resultset-first{background-image:url(../../icons/silk/resultset_first.png)!important;}
.i-resultset-last{background-image:url(../../icons/silk/resultset_last.png)!important;}
.i-resultset-next{background-image:url(../../icons/silk/resultset_next.png)!important;}
.i-resultset-previous{background-image:url(../../icons/silk/resultset_previous.png)!important;}
.i-rosette{background-image:url(../../icons/silk/rosette.png)!important;}
.i-rss{background-image:url(../../icons/silk/rss.png)!important;}
.i-rss-add{background-image:url(../../icons/silk/rss_add.png)!important;}
.i-rss-delete{background-image:url(../../icons/silk/rss_delete.png)!important;}
.i-rss-go{background-image:url(../../icons/silk/rss_go.png)!important;}
.i-rss-valid{background-image:url(../../icons/silk/rss_valid.png)!important;}
.i-ruby{background-image:url(../../icons/silk/ruby.png)!important;}
.i-ruby-add{background-image:url(../../icons/silk/ruby_add.png)!important;}
.i-ruby-delete{background-image:url(../../icons/silk/ruby_delete.png)!important;}
.i-ruby-gear{background-image:url(../../icons/silk/ruby_gear.png)!important;}
.i-ruby-get{background-image:url(../../icons/silk/ruby_get.png)!important;}
.i-ruby-go{background-image:url(../../icons/silk/ruby_go.png)!important;}
.i-ruby-key{background-image:url(../../icons/silk/ruby_key.png)!important;}
.i-ruby-link{background-image:url(../../icons/silk/ruby_link.png)!important;}
.i-ruby-put{background-image:url(../../icons/silk/ruby_put.png)!important;}
.i-script{background-image:url(../../icons/silk/script.png)!important;}
.i-script-add{background-image:url(../../icons/silk/script_add.png)!important;}
.i-script-code{background-image:url(../../icons/silk/script_code.png)!important;}
.i-script-code-red{background-image:url(../../icons/silk/script_code_red.png)!important;}
.i-script-delete{background-image:url(../../icons/silk/script_delete.png)!important;}
.i-script-edit{background-image:url(../../icons/silk/script_edit.png)!important;}
.i-script-error{background-image:url(../../icons/silk/script_error.png)!important;}
.i-script-gear{background-image:url(../../icons/silk/script_gear.png)!important;}
.i-script-go{background-image:url(../../icons/silk/script_go.png)!important;}
.i-script-key{background-image:url(../../icons/silk/script_key.png)!important;}
.i-script-lightning{background-image:url(../../icons/silk/script_lightning.png)!important;}
.i-script-link{background-image:url(../../icons/silk/script_link.png)!important;}
.i-script-palette{background-image:url(../../icons/silk/script_palette.png)!important;}
.i-script-save{background-image:url(../../icons/silk/script_save.png)!important;}
.i-server{background-image:url(../../icons/silk/server.png)!important;}
.i-server-add{background-image:url(../../icons/silk/server_add.png)!important;}
.i-server-chart{background-image:url(../../icons/silk/server_chart.png)!important;}
.i-server-compressed{background-image:url(../../icons/silk/server_compressed.png)!important;}
.i-server-connect{background-image:url(../../icons/silk/server_connect.png)!important;}
.i-server-database{background-image:url(../../icons/silk/server_database.png)!important;}
.i-server-delete{background-image:url(../../icons/silk/server_delete.png)!important;}
.i-server-edit{background-image:url(../../icons/silk/server_edit.png)!important;}
.i-server-error{background-image:url(../../icons/silk/server_error.png)!important;}
.i-server-go{background-image:url(../../icons/silk/server_go.png)!important;}
.i-server-key{background-image:url(../../icons/silk/server_key.png)!important;}
.i-server-lightning{background-image:url(../../icons/silk/server_lightning.png)!important;}
.i-server-link{background-image:url(../../icons/silk/server_link.png)!important;}
.i-server-uncompressed{background-image:url(../../icons/silk/server_uncompressed.png)!important;}
.i-shading{background-image:url(../../icons/silk/shading.png)!important;}
.i-shape-align-bottom{background-image:url(../../icons/silk/shape_align_bottom.png)!important;}
.i-shape-align-center{background-image:url(../../icons/silk/shape_align_center.png)!important;}
.i-shape-align-left{background-image:url(../../icons/silk/shape_align_left.png)!important;}
.i-shape-align-middle{background-image:url(../../icons/silk/shape_align_middle.png)!important;}
.i-shape-align-right{background-image:url(../../icons/silk/shape_align_right.png)!important;}
.i-shape-align-top{background-image:url(../../icons/silk/shape_align_top.png)!important;}
.i-shape-flip-horizontal{background-image:url(../../icons/silk/shape_flip_horizontal.png)!important;}
.i-shape-flip-vertical{background-image:url(../../icons/silk/shape_flip_vertical.png)!important;}
.i-shape-group{background-image:url(../../icons/silk/shape_group.png)!important;}
.i-shape-handles{background-image:url(../../icons/silk/shape_handles.png)!important;}
.i-shape-move-back{background-image:url(../../icons/silk/shape_move_back.png)!important;}
.i-shape-move-backwards{background-image:url(../../icons/silk/shape_move_backwards.png)!important;}
.i-shape-move-forwards{background-image:url(../../icons/silk/shape_move_forwards.png)!important;}
.i-shape-move-front{background-image:url(../../icons/silk/shape_move_front.png)!important;}
.i-shape-rotate-anticlockwise{background-image:url(../../icons/silk/shape_rotate_anticlockwise.png)!important;}
.i-shape-rotate-clockwise{background-image:url(../../icons/silk/shape_rotate_clockwise.png)!important;}
.i-shape-square{background-image:url(../../icons/silk/shape_square.png)!important;}
.i-shape-square-add{background-image:url(../../icons/silk/shape_square_add.png)!important;}
.i-shape-square-delete{background-image:url(../../icons/silk/shape_square_delete.png)!important;}
.i-shape-square-edit{background-image:url(../../icons/silk/shape_square_edit.png)!important;}
.i-shape-square-error{background-image:url(../../icons/silk/shape_square_error.png)!important;}
.i-shape-square-go{background-image:url(../../icons/silk/shape_square_go.png)!important;}
.i-shape-square-key{background-image:url(../../icons/silk/shape_square_key.png)!important;}
.i-shape-square-link{background-image:url(../../icons/silk/shape_square_link.png)!important;}
.i-shape-ungroup{background-image:url(../../icons/silk/shape_ungroup.png)!important;}
.i-shield{background-image:url(../../icons/silk/shield.png)!important;}
.i-shield-add{background-image:url(../../icons/silk/shield_add.png)!important;}
.i-shield-delete{background-image:url(../../icons/silk/shield_delete.png)!important;}
.i-shield-go{background-image:url(../../icons/silk/shield_go.png)!important;}
.i-sitemap{background-image:url(../../icons/silk/sitemap.png)!important;}
.i-sitemap-color{background-image:url(../../icons/silk/sitemap_color.png)!important;}
.i-sound{background-image:url(../../icons/silk/sound.png)!important;}
.i-sound-add{background-image:url(../../icons/silk/sound_add.png)!important;}
.i-sound-delete{background-image:url(../../icons/silk/sound_delete.png)!important;}
.i-sound-low{background-image:url(../../icons/silk/sound_low.png)!important;}
.i-sound-mute{background-image:url(../../icons/silk/sound_mute.png)!important;}
.i-sound-none{background-image:url(../../icons/silk/sound_none.png)!important;}
.i-spellcheck{background-image:url(../../icons/silk/spellcheck.png)!important;}
.i-sport-8ball{background-image:url(../../icons/silk/sport_8ball.png)!important;}
.i-sport-basketball{background-image:url(../../icons/silk/sport_basketball.png)!important;}
.i-sport-football{background-image:url(../../icons/silk/sport_football.png)!important;}
.i-sport-golf{background-image:url(../../icons/silk/sport_golf.png)!important;}
.i-sport-raquet{background-image:url(../../icons/silk/sport_raquet.png)!important;}
.i-sport-shuttlecock{background-image:url(../../icons/silk/sport_shuttlecock.png)!important;}
.i-sport-soccer{background-image:url(../../icons/silk/sport_soccer.png)!important;}
.i-sport-tennis{background-image:url(../../icons/silk/sport_tennis.png)!important;}
.i-star{background-image:url(../../icons/silk/star.png)!important;}
.i-status-away{background-image:url(../../icons/silk/status_away.png)!important;}
.i-status-busy{background-image:url(../../icons/silk/status_busy.png)!important;}
.i-status-offline{background-image:url(../../icons/silk/status_offline.png)!important;}
.i-status-online{background-image:url(../../icons/silk/status_online.png)!important;}
.i-stop{background-image:url(../../icons/silk/stop.png)!important;}
.i-style{background-image:url(../../icons/silk/style.png)!important;}
.i-style-add{background-image:url(../../icons/silk/style_add.png)!important;}
.i-style-delete{background-image:url(../../icons/silk/style_delete.png)!important;}
.i-style-edit{background-image:url(../../icons/silk/style_edit.png)!important;}
.i-style-go{background-image:url(../../icons/silk/style_go.png)!important;}
.i-sum{background-image:url(../../icons/silk/sum.png)!important;}
.i-tab{background-image:url(../../icons/silk/tab.png)!important;}
.i-table{background-image:url(../../icons/silk/table.png)!important;}
.i-table-add{background-image:url(../../icons/silk/table_add.png)!important;}
.i-table-delete{background-image:url(../../icons/silk/table_delete.png)!important;}
.i-table-edit{background-image:url(../../icons/silk/table_edit.png)!important;}
.i-table-error{background-image:url(../../icons/silk/table_error.png)!important;}
.i-table-gear{background-image:url(../../icons/silk/table_gear.png)!important;}
.i-table-go{background-image:url(../../icons/silk/table_go.png)!important;}
.i-table-key{background-image:url(../../icons/silk/table_key.png)!important;}
.i-table-lightning{background-image:url(../../icons/silk/table_lightning.png)!important;}
.i-table-link{background-image:url(../../icons/silk/table_link.png)!important;}
.i-table-multiple{background-image:url(../../icons/silk/table_multiple.png)!important;}
.i-table-refresh{background-image:url(../../icons/silk/table_refresh.png)!important;}
.i-table-relationship{background-image:url(../../icons/silk/table_relationship.png)!important;}
.i-table-row-delete{background-image:url(../../icons/silk/table_row_delete.png)!important;}
.i-table-row-insert{background-image:url(../../icons/silk/table_row_insert.png)!important;}
.i-table-save{background-image:url(../../icons/silk/table_save.png)!important;}
.i-table-sort{background-image:url(../../icons/silk/table_sort.png)!important;}
.i-tab-add{background-image:url(../../icons/silk/tab_add.png)!important;}
.i-tab-delete{background-image:url(../../icons/silk/tab_delete.png)!important;}
.i-tab-edit{background-image:url(../../icons/silk/tab_edit.png)!important;}
.i-tab-go{background-image:url(../../icons/silk/tab_go.png)!important;}
.i-tag{background-image:url(../../icons/silk/tag.png)!important;}
.i-tag-blue{background-image:url(../../icons/silk/tag_blue.png)!important;}
.i-tag-blue-add{background-image:url(../../icons/silk/tag_blue_add.png)!important;}
.i-tag-blue-delete{background-image:url(../../icons/silk/tag_blue_delete.png)!important;}
.i-tag-blue-edit{background-image:url(../../icons/silk/tag_blue_edit.png)!important;}
.i-tag-green{background-image:url(../../icons/silk/tag_green.png)!important;}
.i-tag-orange{background-image:url(../../icons/silk/tag_orange.png)!important;}
.i-tag-pink{background-image:url(../../icons/silk/tag_pink.png)!important;}
.i-tag-purple{background-image:url(../../icons/silk/tag_purple.png)!important;}
.i-tag-red{background-image:url(../../icons/silk/tag_red.png)!important;}
.i-tag-yellow{background-image:url(../../icons/silk/tag_yellow.png)!important;}
.i-telephone{background-image:url(../../icons/silk/telephone.png)!important;}
.i-telephone-add{background-image:url(../../icons/silk/telephone_add.png)!important;}
.i-telephone-delete{background-image:url(../../icons/silk/telephone_delete.png)!important;}
.i-telephone-edit{background-image:url(../../icons/silk/telephone_edit.png)!important;}
.i-telephone-error{background-image:url(../../icons/silk/telephone_error.png)!important;}
.i-telephone-go{background-image:url(../../icons/silk/telephone_go.png)!important;}
.i-telephone-key{background-image:url(../../icons/silk/telephone_key.png)!important;}
.i-telephone-link{background-image:url(../../icons/silk/telephone_link.png)!important;}
.i-television{background-image:url(../../icons/silk/television.png)!important;}
.i-television-add{background-image:url(../../icons/silk/television_add.png)!important;}
.i-television-delete{background-image:url(../../icons/silk/television_delete.png)!important;}
.i-textfield{background-image:url(../../icons/silk/textfield.png)!important;}
.i-textfield-add{background-image:url(../../icons/silk/textfield_add.png)!important;}
.i-textfield-delete{background-image:url(../../icons/silk/textfield_delete.png)!important;}
.i-textfield-key{background-image:url(../../icons/silk/textfield_key.png)!important;}
.i-textfield-rename{background-image:url(../../icons/silk/textfield_rename.png)!important;}
.i-text-align-center{background-image:url(../../icons/silk/text_align_center.png)!important;}
.i-text-align-justify{background-image:url(../../icons/silk/text_align_justify.png)!important;}
.i-text-align-left{background-image:url(../../icons/silk/text_align_left.png)!important;}
.i-text-align-right{background-image:url(../../icons/silk/text_align_right.png)!important;}
.i-text-allcaps{background-image:url(../../icons/silk/text_allcaps.png)!important;}
.i-text-bold{background-image:url(../../icons/silk/text_bold.png)!important;}
.i-text-columns{background-image:url(../../icons/silk/text_columns.png)!important;}
.i-text-columns-4{background-image:url(../../icons/silk/text_columns_4.png)!important;}
.i-text-dropcaps{background-image:url(../../icons/silk/text_dropcaps.png)!important;}
.i-text-heading-1{background-image:url(../../icons/silk/text_heading_1.png)!important;}
.i-text-heading-2{background-image:url(../../icons/silk/text_heading_2.png)!important;}
.i-text-heading-3{background-image:url(../../icons/silk/text_heading_3.png)!important;}
.i-text-heading-4{background-image:url(../../icons/silk/text_heading_4.png)!important;}
.i-text-heading-5{background-image:url(../../icons/silk/text_heading_5.png)!important;}
.i-text-heading-6{background-image:url(../../icons/silk/text_heading_6.png)!important;}
.i-text-horizontalrule{background-image:url(../../icons/silk/text_horizontalrule.png)!important;}
.i-text-indent{background-image:url(../../icons/silk/text_indent.png)!important;}
.i-text-indent-remove{background-image:url(../../icons/silk/text_indent_remove.png)!important;}
.i-text-italic{background-image:url(../../icons/silk/text_italic.png)!important;}
.i-text-kerning{background-image:url(../../icons/silk/text_kerning.png)!important;}
.i-text-letterspacing{background-image:url(../../icons/silk/text_letterspacing.png)!important;}
.i-text-letter-omega{background-image:url(../../icons/silk/text_letter_omega.png)!important;}
.i-text-linespacing{background-image:url(../../icons/silk/text_linespacing.png)!important;}
.i-text-list-bullets{background-image:url(../../icons/silk/text_list_bullets.png)!important;}
.i-text-list-numbers{background-image:url(../../icons/silk/text_list_numbers.png)!important;}
.i-text-lowercase{background-image:url(../../icons/silk/text_lowercase.png)!important;}
.i-text-padding-bottom{background-image:url(../../icons/silk/text_padding_bottom.png)!important;}
.i-text-padding-left{background-image:url(../../icons/silk/text_padding_left.png)!important;}
.i-text-padding-right{background-image:url(../../icons/silk/text_padding_right.png)!important;}
.i-text-padding-top{background-image:url(../../icons/silk/text_padding_top.png)!important;}
.i-text-replace{background-image:url(../../icons/silk/text_replace.png)!important;}
.i-text-signature{background-image:url(../../icons/silk/text_signature.png)!important;}
.i-text-smallcaps{background-image:url(../../icons/silk/text_smallcaps.png)!important;}
.i-text-strikethrough{background-image:url(../../icons/silk/text_strikethrough.png)!important;}
.i-text-subscript{background-image:url(../../icons/silk/text_subscript.png)!important;}
.i-text-superscript{background-image:url(../../icons/silk/text_superscript.png)!important;}
.i-text-underline{background-image:url(../../icons/silk/text_underline.png)!important;}
.i-text-uppercase{background-image:url(../../icons/silk/text_uppercase.png)!important;}
.i-Thumbs{background-image:url(../../icons/silk/Thumbs.db)!important;}
.i-thumb-down{background-image:url(../../icons/silk/thumb_down.png)!important;}
.i-thumb-up{background-image:url(../../icons/silk/thumb_up.png)!important;}
.i-tick{background-image:url(../../icons/silk/tick.png)!important;}
.i-time{background-image:url(../../icons/silk/time.png)!important;}
.i-timeline-marker{background-image:url(../../icons/silk/timeline_marker.png)!important;}
.i-time-add{background-image:url(../../icons/silk/time_add.png)!important;}
.i-time-delete{background-image:url(../../icons/silk/time_delete.png)!important;}
.i-time-go{background-image:url(../../icons/silk/time_go.png)!important;}
.i-transmit{background-image:url(../../icons/silk/transmit.png)!important;}
.i-transmit-add{background-image:url(../../icons/silk/transmit_add.png)!important;}
.i-transmit-blue{background-image:url(../../icons/silk/transmit_blue.png)!important;}
.i-transmit-delete{background-image:url(../../icons/silk/transmit_delete.png)!important;}
.i-transmit-edit{background-image:url(../../icons/silk/transmit_edit.png)!important;}
.i-transmit-error{background-image:url(../../icons/silk/transmit_error.png)!important;}
.i-transmit-go{background-image:url(../../icons/silk/transmit_go.png)!important;}
.i-twitter{background-image:url(../../icons/silk/twitter.png)!important;}
.i-pinterest{background-image:url(../../icons/silk/pinterest.png)!important;}
.i-tux{background-image:url(../../icons/silk/tux.png)!important;}
.i-user{background-image:url(../../icons/silk/user.png)!important;}
.i-user-add{background-image:url(../../icons/silk/user_add.png)!important;}
.i-user-comment{background-image:url(../../icons/silk/user_comment.png)!important;}
.i-user-delete{background-image:url(../../icons/silk/user_delete.png)!important;}
.i-user-edit{background-image:url(../../icons/silk/user_edit.png)!important;}
.i-user-female{background-image:url(../../icons/silk/user_female.png)!important;}
.i-user-go{background-image:url(../../icons/silk/user_go.png)!important;}
.i-user-gray{background-image:url(../../icons/silk/user_gray.png)!important;}
.i-user-green{background-image:url(../../icons/silk/user_green.png)!important;}
.i-user-orange{background-image:url(../../icons/silk/user_orange.png)!important;}
.i-user-red{background-image:url(../../icons/silk/user_red.png)!important;}
.i-user-suit{background-image:url(../../icons/silk/user_suit.png)!important;}
.i-video{background-image:url(../../icons/silk/film.png)!important;}
.i-video-add{background-image:url(../../icons/silk/film_add.png)!important;}
.i-video-delete{background-image:url(../../icons/silk/film_delete.png)!important;}
.i-video-edit{background-image:url(../../icons/silk/film_edit.png)!important;}
.i-video-error{background-image:url(../../icons/silk/film_error.png)!important;}
.i-video-go{background-image:url(../../icons/silk/film_go.png)!important;}
.i-video-key{background-image:url(../../icons/silk/film_key.png)!important;}
.i-video-link{background-image:url(../../icons/silk/film_link.png)!important;}
.i-video-save{background-image:url(../../icons/silk/film_save.png)!important;}
.i-animation{background-image:url(../../icons/silk/film.png)!important;}
.i-animation-add{background-image:url(../../icons/silk/film_add.png)!important;}
.i-animation-delete{background-image:url(../../icons/silk/film_delete.png)!important;}
.i-animation-edit{background-image:url(../../icons/silk/film_edit.png)!important;}
.i-animation-error{background-image:url(../../icons/silk/film_error.png)!important;}
.i-animation-go{background-image:url(../../icons/silk/film_go.png)!important;}
.i-animation-key{background-image:url(../../icons/silk/film_key.png)!important;}
.i-animation-link{background-image:url(../../icons/silk/film_link.png)!important;}
.i-animation-save{background-image:url(../../icons/silk/film_save.png)!important;}
.i-vcard{background-image:url(../../icons/silk/vcard.png)!important;}
.i-vcard-add{background-image:url(../../icons/silk/vcard_add.png)!important;}
.i-vcard-delete{background-image:url(../../icons/silk/vcard_delete.png)!important;}
.i-vcard-edit{background-image:url(../../icons/silk/vcard_edit.png)!important;}
.i-vector{background-image:url(../../icons/silk/vector.png)!important;}
.i-vector-add{background-image:url(../../icons/silk/vector_add.png)!important;}
.i-vector-delete{background-image:url(../../icons/silk/vector_delete.png)!important;}
.i-wand{background-image:url(../../icons/silk/wand.png)!important;}
.i-weather-clouds{background-image:url(../../icons/silk/weather_clouds.png)!important;}
.i-weather-cloudy{background-image:url(../../icons/silk/weather_cloudy.png)!important;}
.i-weather-lightning{background-image:url(../../icons/silk/weather_lightning.png)!important;}
.i-weather-rain{background-image:url(../../icons/silk/weather_rain.png)!important;}
.i-weather-snow{background-image:url(../../icons/silk/weather_snow.png)!important;}
.i-weather-sun{background-image:url(../../icons/silk/weather_sun.png)!important;}
.i-webcam{background-image:url(../../icons/silk/webcam.png)!important;}
.i-webcam-add{background-image:url(../../icons/silk/webcam_add.png)!important;}
.i-webcam-delete{background-image:url(../../icons/silk/webcam_delete.png)!important;}
.i-webcam-error{background-image:url(../../icons/silk/webcam_error.png)!important;}
.i-world{background-image:url(../../icons/silk/world.png)!important;}
.i-world-add{background-image:url(../../icons/silk/world_add.png)!important;}
.i-world-delete{background-image:url(../../icons/silk/world_delete.png)!important;}
.i-world-edit{background-image:url(../../icons/silk/world_edit.png)!important;}
.i-world-go{background-image:url(../../icons/silk/world_go.png)!important;}
.i-world-link{background-image:url(../../icons/silk/world_link.png)!important;}
.i-wrench{background-image:url(../../icons/silk/wrench.png)!important;}
.i-wrench-orange{background-image:url(../../icons/silk/wrench_orange.png)!important;}
.i-xhtml{background-image:url(../../icons/silk/xhtml.png)!important;}
.i-xhtml-add{background-image:url(../../icons/silk/xhtml_add.png)!important;}
.i-xhtml-delete{background-image:url(../../icons/silk/xhtml_delete.png)!important;}
.i-xhtml-go{background-image:url(../../icons/silk/xhtml_go.png)!important;}
.i-xhtml-valid{background-image:url(../../icons/silk/xhtml_valid.png)!important;}
.i-zoom{background-image:url(../../icons/silk/zoom.png)!important;}
.i-zoom-in{background-image:url(../../icons/silk/zoom_in.png)!important;}
.i-zoom-out{background-image:url(../../icons/silk/zoom_out.png)!important;}
.i-laposte{background-image:url(../../icons/silk/laposte.png)!important;}
.i-layered{background-image:url(../../icons/silk/cog.png)!important;}
.i-layered-add{background-image:url(../../icons/silk/cog_add.png)!important;}
.i-layered-connect{background-image:url(../../icons/silk/cog_connect.png)!important;}
.i-layered-delete{background-image:url(../../icons/silk/cog_delete.png)!important;}
.i-layered-edit{background-image:url(../../icons/silk/cog_edit.png)!important;}
.i-layered-error{background-image:url(../../icons/silk/cog_error.png)!important;}
.i-layered-gear{background-image:url(../../icons/silk/cog_gear.png)!important;}
.i-layered-go{background-image:url(../../icons/silk/cog_go.png)!important;}
.i-layered-key{background-image:url(../../icons/silk/cog_key.png)!important;}
.i-layered-lightning{background-image:url(../../icons/silk/cog_lightning.png)!important;}
.i-layered-link{background-image:url(../../icons/silk/cog_link.png)!important;}
.i-layered-refresh{background-image:url(../../icons/silk/cog_refresh.png)!important;}
.i-layered-save{background-image:url(../../icons/silk/cog_save.png)!important;}
.i-layered-table{background-image:url(../../icons/silk/cog_table.png)!important;}
.i-option-add{background-image:url(../../icons/silk/wrench.png)!important;}
