/* ---------- Général ---------- */

body {
	font-size: 12px;
	background: #dfe8f6;
}

p {
	font-size: 12px;
	overflow: hidden;
}

h1 {
    padding: 6px 10px;
    background: url(../../xeon/img/header.gif) repeat-x center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

h2 {
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

.x-link {
	color: #416aa3;
	cursor: pointer;
	text-decoration: none;
}

.x-link:hover {
	text-decoration: underline;
}

.x-finder {
	min-width: 118px;
}

.clear {
	clear: both;
}

/* ---------- FormPanel ---------- */

.x-edit-field {
    position: absolute;
    top: 88.5px;
    left : 510px;
}

.x-edit-field-bill {
    position : relative;
    bottom: 50px;
    left : 500px;
}

.x-form-invalid, textarea.x-form-invalid {
	background: scroll #ffffff url(../../extjs/resources/images/default/form/text-bg.gif) repeat-x top left;
	border: #ff6666 solid 1px;
}

.x-formpanel .x-form {
	padding: 10px;
}

.x-formpanel .x-fieldset-white {
	background-color: #ffffff;
}

.x-formpanel .x-panel-collapsed {
	background-color: transparent !important;
}

.x-formpanel .x-checkboxgroup-alt {
	background-color: #f4f4f4;
	padding: 5px 0;
}

/* ---------- GridPanel ---------- */

.x-grid3 .x-icon {
	background-position: center center;
	background-repeat: no-repeat;
}

.x-grid3 .x-button {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* ---------- InfoPanel ---------- */

.x-infopanel .x-panel-body {
	padding: 10px;
	font-size: 12px;
}

.x-infopanel table {
	border-collapse: collapse;
}

.x-.infopanel th {
	width: 185px;
	vertical-align: top;
}

.x-infopanel th, .x-infopanel td {
	padding: 3px 0 9px 0;
}

/* ---------- DataPanel ---------- */

.x-datapanel .bloc {
	background: #ffffff;
	margin-top: 5px;
	padding: 10px;
}

.x-datapanel .info {
	padding-bottom: 4px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

.success, .warning, .error, .validation {
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
}

.x-datapanel .success {
        border: 1px solid #4F8A10;
        color: #4F8A10;
        background-color: #DFF2BF;
}

.x-datapanel .error {
        border: 1px solid #D8000C;
        color: #D8000C;
        background-color: #FFBABA;
}

.x-datapanel-toolbar {
	position: absolute;
	background: #eeeeee;
	border: #cccccc solid 1px !important;
	display: none;
	left: auto;
	z-index: 99;
}

/* ---------- LayoutPanel ---------- */

.x-layoutpanel .first {
	font: normal 26px Arial;
}

.x-layoutpanel h2 {
	font: normal 22px Arial;
}

.x-layoutpanel h3 {
	font: normal 18px Arial;
}

.x-layoutpanel h4 {
	font: bold 14px Arial;
}

.x-layoutpanel .catcher {
	font-style: italic;
}

.x-layoutpanel .media {
	text-align: center;
}

.x-layoutpanel .text2 {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.x-layoutpanel .text3 {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.x-layoutpanel .last {
	margin-right: 0;
}

.x-layoutpanel .left {
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
}

.x-layoutpanel .right {
	float: right;
	margin: 0 0 10px 10px;
	text-align: center;
}

.x-layoutpanel .media img, 
.x-layoutpanel .left img, 
.x-layoutpanel .right img {
	background: url(../../xeon/img/loader.gif) no-repeat center center;
	cursor: pointer;
}

.x-layoutpanel .media a, 
.x-layoutpanel .left a, 
.x-layoutpanel .right a {
	color: #15428b;
	text-decoration: none;
}

.x-layoutpanel q {
	display: block;
	text-align: center;
	font-size: 10px;
}

.x-layoutpanel strong {
	font-weight: bold;
}

.x-layoutpanel em {
	font-style: italic;
}

.x-layoutpanel ul, 
.x-layoutpanel ol {
	padding: 10px;
	margin: 0 10px;
}

.x-layoutpanel ul {
	list-style-type: disc;
}

.x-layoutpanel ol {
	list-style-type: decimal;
}

.x-layoutpanel .code {
	font-family: Courier New;
	white-space: nowrap;
	overflow: auto;
}

.x-layoutwindow .x-tab-strip-top {
	background: #ccd8e7 !important;
}

.x-layoutwindow .x-html-editor-wrap,
.x-layoutwindow .x-mediapanel .x-panel-body {
	border: 0;
}

/* ---------- MediaPanel ---------- */

.x-mediapanel .x-panel-body {
	background: #ffffff;
	border: 1px solid #99bbe8 ;
}

.x-mediapanel .item {
	float: left;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
	background: url(../../xeon/img/loader.gif) no-repeat center center;
	border: #ffffff solid 1px;
}

.x-mediapanel .item div {
	width: 100px;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	position:relative;
}
.x-mediapanel .item div.no-link-media {
	width: 16px;
	height: 16px;
	position: absolute;
	bottom:0px;
	right:0px;
	background-image: url(../../icons/silk/delete.png);
}

.x-mediapanel .item p {
	text-align: center;
	margin: 0;
	width: 100px;
	overflow: hidden;
	padding-top: 3px;
	font-size: 11px;
}

.x-mediapanel .x-view-over {
	background-color: #eeeeee;
	border: #dddddd solid 1px;
}

.x-mediapanel .x-view-selected {
	background-color: #dfe8f6;
	border: #99bbe8 solid 1px;
}

/* ---------- MediaField ---------- */

.x-form-media-trigger {
	background-image: url(../../../gmmedia/img/trigger.gif) !important;
}

/* ---------- TreePanel ---------- */

.x-tree .x-toolbar {
	background: #eeeeee;
	border-bottom: #cccccc solid 1px !important;
}

/* ---------- MultiSelect ---------- */

.x-multiselect {
    overflow: auto;
    position: relative;
    zoom: 1;
    overflow: auto;
}

.x-multiselect-item {
    font: normal 12px tahoma, arial, helvetica, sans-serif;
    padding: 2px;
    border: 1px solid #ffffff;
    white-space: nowrap;
    cursor: pointer;
}

.x-multiselect-selected {
	border: 1px dotted #a3bae9 !important;
    background: #dfe8f6;
    cursor: pointer;
}

.x-view-drag-insert-above { 
    border-top: 1px dotted #3366cc; 
}

.x-view-drag-insert-below { 
    border-bottom: 1px dotted #3366cc; 
}

/* ---------- ComboBox ---------- */

.x-combo-list .x-icon {
	background-repeat: no-repeat !important;
	background-position: 3px 1px !important;
	padding-left: 23px;
}

/* ---------- OrderPanel ---------- */

.x-orderpanel div.t {
	float: left;
	width: 300px;
	text-align: left;
}

.x-orderpanel div.n {
	float: left;
	width: 100px;
	text-align: right;
}

.x-orderpanel div.a {
	float: left;
	width: 600px;
	text-align: right;
}

/*
	These are examples of styles for the button icons
*/
.x-edit-wordpaste {background: url(../../icons/silk/document-word-text.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(../../icons/silk/table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(../../icons/silk/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(../../icons/silk/edit-indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(../../icons/silk/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(../../icons/silk/edit-outdent.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(../../icons/silk/text_sub.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(../../icons/silk/text_super.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(../../icons/silk/exclamation.png) 0 0 no-repeat !important;}
.x-edit-tags {background: url(../../icons/silk/wand.png) 0 0 no-repeat !important;}

/*
	These styles are used for the character map
*/
.char-item {
	float: left;
	border: 1px solid #99BBE8;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #15428B;
	cursor: pointer;
}

.char-item.x-view-selected {
	background-color: #777;
}

.char-over {
	border: 1px solid #15428B;
	background-color:#d0def0;
}