{% extends "FOSUserBundle::layout.html.twig" %}
    {% block modal %}
        <div id="login-modal" class="md-modal md-fade-in-scale-up md-show">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Connexion</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <label for="username" class="col-sm-4 control-label">Login</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="username" name="_username" value="" required="required" placeholder="Nom d'utilisateur" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-4 control-label">Mot de passe</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="password" name="_password" required="required" placeholder="********" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div class="checkbox">
                                            <label for="remember_me">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="" />
                                                Se souvenir de moi
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-default btn-submit" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


	{% block header %}

    {% endblock %}


	{% block container %}

    {% endblock %}


	{% block modal_footer %}

    {% endblock %}