<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}BPCE Front{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png" />

    {% block stylesheets %}
        {#% include 'includes/stylesheets.html.twig' with {'skin': 'skin-1'} %#}
        {% include 'TotemFrontBundle:Default:includes/stylesheets.html.twig' %}
    {% endblock %}

    {% block javascripts_head %}
        {% include 'TotemFrontBundle:Default:includes/javascript_head.html.twig' %}
    {% endblock %}
</head>
<body{% block body_attr %}{% endblock %} class="fixed-left">

{##################################################
##    MODAL
###################################################}
{% block modal %}
    {% include 'TotemFrontBundle:Default:includes/modal.html.twig' %}
{% endblock %}

<!-- Begin page -->
<div id="wrapper">

    {##################################################
    ##    header
    ###################################################}
    {% block header %}
        {% include 'TotemFrontBundle:Default:includes/header.html.twig' %}
    {% endblock %}

    {##################################################
    ##    container
    ###################################################}
    {% block container %}

        {% block left %}
            {% include 'TotemFrontBundle:Default:includes/left.html.twig' %}
        {% endblock %}

        {% block right %}
            {#<!--% include 'includes/right.html.twig' %-->#}
        {% endblock %}

        <div class="content-page">

            <div class="content">
                {% block content %}

                {% endblock %}
            </div> <!-- .content -->

            {##################################################
            ##    footer
            ###################################################}
            {% block footer %}
                {% include 'TotemFrontBundle:Default:includes/footer.html.twig' %}
            {% endblock %}

        </div> <!-- .content-page -->

    {% endblock %}

</div> <!-- End of page -->

{##################################################
##    modal footer
###################################################}
{% block modal_footer %}
    <!-- the overlay modal element -->
    <div class="md-overlay"></div>
    <!-- End of eoverlay modal -->
{% endblock %}

{% block javascripts %}
    <script>
        var resizefunc = [];
    </script>




{% endblock %}
</body>
</html>