<div class="vigns skin-2">
	<div class="vign" itemscope itemtype="http://schema.org/Product">
		<a class="link-full" itemprop="name" title="Titre produit test" itemprop="url" href="#" data-brand="Marque test">
			<div class="media">
				<img alt="Titre" src="http://placehold.it/200x200&text=200x200" itemprop="image" />
			</div>
			<h2>
				<div class="brand"><a title="" href="#">Marque test</a></div>
				<div class="title-1"><span>{% block title %}Titre produit test{% endblock %}</span></div>
			</h2>
			<p class="price">A partir de 200 &euro;  au lieu de 299 &euro;</p>
			<p class="prd-bubble">
				<span>Nouveautés</span>
			</p>
		</a>
	</div>
</div>