{% if cache %}
	{{ render_esi(url('gm_widget', { 'name': name, 'id': id, 'properties': properties, 'config': config })) }}
{% else %}
	{{ render(url('gm_widget.admin', { 'name': name, 'id': id, 'properties': properties, 'config': config })) }}
{% endif %}