{% if module == "favorite" %}
    {% set identifiant = favoriteId %}
{% else %}
    {% set identifiant = requete.id %}
{% endif %}

{% set col_label                = "col-sm-5  col-md-5  col-lg-4" %}
{% set col_field_with_label     = "col-sm-6  col-md-6  col-lg-5" %}
{% set col_field_without_label  = "col-sm-11 col-md-11 col-lg-9" %}

<div class="content">
    <div class="page-heading">
        <h1>{{ requete.title }}</h1>
        <p>{{ requete.description }}</p>
    </div>
    <div class="form">
        <form class="form-horizontal" role="form">
            {# All Fields #}
            {% set value = "" %}
            {% if parametres|length > 0 %}
                {% for parametre in parametres %}
                    <div class="form-group">
                        {% set type = 'text' %}
                        {% if parametre.type=='integer' %}
                            {% set type = 'integer' %}
                        {% endif%}
                        {% if values|length > 0  %}
                            {%  set value = values[parametre.id] %}
                        {% endif %}

                        <label for="{{ parametre.title }}" class="{{ col_label }} control-label">{{ parametre.wording }}</label>
                        <div class="{{ col_field_with_label }}">
                            <input  value="{{ value }}"  data-id="{{ parametre.id }}" {% if parametre.obligatory %} required {% endif %} id="{{ parametre.title }}"  type="{{ type }}" class="form-parameters-{{ identifiant }} form-control" placeholder="{{ parametre.wording }}" >
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {# Field SUBMIT #}
            <div class="form-group">
                <div class="{{ col_field_without_label }}">
                    <a data-href="{{ path("front_get_result") }}" data-id="{{ requete.id }} "class="launch-{{ identifiant }} btn btn-default btn-submit pull-right">Lancer</a>
                </div>
            </div>

            {# ALERTS #}
            <div class="form-group" id="form-group_alerts">
                <div id="form-info-{{ requete.id }}" class="success alert alert-success"></div>
                <div id="form-error-{{ requete.id }}" class="error alert alert-warning"></div>
            </div>

            {# FAVORITE #}
            <div id="block-favorite">
                <div class="form-group">
                    <label for="favori-name-{{ identifiant }}" class="{{ col_label }} control-label">Nom du favori</label>
                    <div class="{{ col_field_with_label }}">
                        <input id="favori-name-{{ identifiant }}" type="text" class="form-control" id="input-text" placeholder="Nom du favori">
                    </div>
                </div>

                {# Btn Add FAVORITE #}
                <div class="form-group">
                    <div class="{{ col_field_without_label }}">
                        <a data-href="{{ path("front_add_favorite") }}" data-id="{{ requete.id }}" href="#" class="add-favorite-{{ identifiant }} btn btn-default btn-submit pull-right">Mettre en favori </a>
                    </div>
                </div>
                {# Btn Delete FAVORITE #}
                {% if module == "favorite" %}
                <div class="form-group">
                    <div class="{{ col_field_without_label }}">
                        <a data-href="{{ path("front_remove_favorite") }}" data-favorite="{{ favoriteId }}" data-id="{{ requete.id }}" href="#" class="remove-favorite-{{ identifiant }} btn btn-default btn-submit pull-right">Enlever des favoris </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="results-request" id="results-{{ identifiant }}">

    </div>
</div>