{% extends "TotemFrontBundle:Default:base.html.twig" %}
	{% block content %}
        <div class="row">
            <div class="col-md-12">

                <div id="mc-tabs" class="mc-tabs skin-default">
                    <ul>
                        <li><a href="#tabs-welcome"><i class="icon-home-3 pos-left"></i>Bienvenue</a></li>
                    </ul>
                    <div id="tabs-welcome">
                       {{ messageAccueil.value|raw }}
                    </div>
                </div> <!-- #mc-tabs -->

            </div> <!-- .col-md-12 -->
        </div><!-- .row -->

    {% endblock %}