<ul>
    {% for file in files %}
        <li>
            {{  file.title ~'.' ~ file.ext.value}} <a target="_blank" href="/media/{{  file.title ~'.' ~ file.ext.value}}"><img style="width:20px;" src="/bundles/gmmedia/img/pdf.png" ></a>
            <a target="_blank" href="/media/{{  file.title ~'.' ~ 'csv'}}"><img style="width:20px;" src="/bundles/gmmedia/img/csv.png" ></a>
        </li>
    {% endfor%}
    {% if files|length==0 %}
        Pas de fichiers générés pour cette requête.
    {% endif %}
</ul>