<div class="content">

	{% include 'TotemFrontBundle:Default:includes/content/page-heading.html.twig' %}

	<div class="form">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="input-text" class="col-sm-4 col-md-5 control-label">Login</label>
				<div class="col-sm-8 col-md-7">
					<input type="text" class="form-control" id="input-text" placeholder="Login">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="col-sm-4 col-md-5 control-label">Mot de passe</label>
				<div class="col-sm-8 col-md-7">
					<input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
				</div>
			</div>

			<div class="form-group">
				<label for="input-text-disabled" class="col-sm-4 col-md-5 control-label">Pays (Disabled)</label>
				<div class="col-sm-8 col-md-7">
					<input type="text" class="form-control" id="input-text-disabled" placeholder="FRANCE" disabled>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default btn-submit pull-right">Valider</button>
				</div>
			</div>
		</form>
	</div> <!-- .form -->

</div> <!-- .content -->

<script src="/assets/js/init.js"></script>

<script type="text/javascript">
	$(function() {

	});
</script>

