<div class="content">
    <div class="table-responsive">
        <form class='form-horizontal' role='form'>
            <table id="datatables-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                {# THEAD / TFOOT #}
                {% if thead|length > 0 %}
                    <thead>
                    <tr>
                        {% for th in thead %}
                            <th>{{ th.title }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}

                {# TBODY #}
                {% if tbody|length > 0 %}
                    <tbody>
                        {% for tr in tbody %}
                            <tr>
                                {% for th in thead %}
                                    <td>{{ tr[th.uniqueTitle] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}

            </table>
        </form>
    </div>

</div> <!-- .content -->


<script type="text/javascript">
    $(document).ready( function () {
        /*
        $('#datatables-1').dataTable( {
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/assets/libs/jquery-datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    {
                        "sExtends": "csv",
                        "sTitle": "My title",
                        "sToolTip": "Save as CSV"
                    }
                ]
            },
            language: {
                url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
            }
        } )*/
    });
</script>