<div class="content">

	{% include 'TotemFrontBundle:Default:includes/content/page-heading.html.twig' %}

	<!--<div class="widget">

		<div class="widget-header">
			<h2><strong>Export</strong> Data</h2>
			<div class="additional-btn">
				<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
				<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
				<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
			</div>
		</div>
		<div class="widget-content">
	-->

			<div class="table-responsive">
				<form class='form-horizontal' role='form'>
				<table id="datatables-1" class="table table-striped table-bordered" cellspacing="0" width="100%">

					{# THEAD / TFOOT #}
					{% if thead|length > 0 %}
						<thead>
							<tr>
							{% for th in thead %}
								<th>{{ th }}</th>
							{% endfor %}
							</tr>
						</thead>

						<tfoot>
							<tr>
							{% for th in thead %}
								<th>{{ th }}</th>
							{% endfor %}
							</tr>
						</tfoot>
					{% endif %}

					{# TBODY #}
					{% if tbody|length > 0 %}
						<tbody>
							{% for td in tbody %}
							<tr>
								<td>{{ td.name }}</td>
								<td>{{ td.position }}</td>
								<td>{{ td.office }}</td>
								<td>{{ td.age }}</td>
								<td>{{ td.start_date }}</td>
								<td>{{ td.salary }}</td>
							</tr>
							{% endfor %}
						</tbody>
					{% endif %}

				</table>
				</form>
			</div> <!-- .table-responsive -->
		<!--</div>--> <!-- .widget-content -->
	<!--</div>--> <!-- .widget -->

</div> <!-- .content -->


<script type="text/javascript">
	/*$(document).ready( function ()
	{
		//$("#datatables-1").dataTable();

		$('#datatables-1').DataTable( {
			dom: 'T<"clear">lfrtip',
			tableTools: {
				//"sSwfPath": "./assets/libs/jquery-datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
				"sSwfPath": "/assets/libs/jquery-datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		} );
	});*/

$(document).ready( function () {
    $('#datatables-1').dataTable( {
        dom: 'T<"clear">lfrtip',
        tableTools: {
        	"sSwfPath": "/assets/libs/jquery-datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "csv",
                    "sTitle": "{{ page_title }}",
                    "sToolTip": "Save as CSV"
                }
            ]
        },
		language: {
			url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
		}
    } );
});
</script>