<div id="{{ ident }}" class="owl-carousel {{ widget_skin }}"{% if tag_attribute is defined %}{{ widget('gm_widget.tag_attribute', 0, {'attribute': tag_attribute}) }}{% endif %}>

	{{ widget('gm_widget.widget_list', id, {'tag': 'div', 'tag_class': 'item'}) }}

</div>

{{ skin_js('@GMWidgetBundle/slider/owl.js') }}