{% extends "GMSkinBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets  filter='cssrewrite' 
              'bundles/gmcms/css/cms.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body_attr %} id="cms" class="cms"{% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}

    {% render(url('gm_cms_stat_hit', { 'id': page.id })) %}
{% endblock %}