<div class="portlets">
	<div id="recent_tickets" class="widget transparent nomargin">
		<h2>Recent Tickets</h2>
		<div class="widget-content">
			<ul class="list-unstyled">
				<li><a href="javascript:;">My wordpress blog is broken <span>I was trying to save my page and...</span></a></li>
				<li><a href="javascript:;">Server down, need help!<span>My server is not responding for the last...</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"></div>