<!--- Profile -->
<div class="profile-info">
	<div class="col-xs-4">
		<a href="profile.html" class="rounded-image profile-image"><img src="images/users/user-100.jpg"></a>
	</div>
	<div class="col-xs-8">
		<div class="profile-text">Welcome <b>Jane</b></div>
		<div class="profile-buttons">
			<a href="javascript:;"><i class="fa fa-envelope-o pulse"></i></a>
			<a href="#connect" class="open-right"><i class="fa fa-comments"></i></a>
			<a href="javascript:;" title="Sign Out"><i class="fa fa-power-off text-red-1"></i></a>
		</div>
	</div>
</div>