<!-- Search form -->
<form action="{{ path('front_search_requete') }}" method="POST" role="search" class="navbar-form">
	<div class="form-group">
		<input type="text" id="keyword" name="keyword" placeholder="Search" class="form-control">
		<button data-href="{{ path('front_search_requete') }}" id="btn-search" type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
	</div>
</form>
<div class="clearfix"></div>