{% if treeRequest|length > 0 %}
    {% if module == 'favoris' %}
        <div id="sidebar-menu" class="">
        <ul>
            {% for lev1 in treeRequest %}
                   <li><a href="#" data-tab-id={{ lev1.id }} data-title="{{ lev1.title }}" data-favorite="{{ lev1.id }}" data-href="{{ path('front_click_request') }}" data-request-id="request.req.{{ lev1.request.id }}"><span>{{ lev1.title }}</span></a></li>
            {% endfor %}
         </ul>
        </div>
    {% elseif module == "recents" %}
        <div id="sidebar-menu" class="">
            <ul>
                {% for lev1 in treeRequest %}
                    <li><a href="#" data-tab-id={{ lev1.request.id }} data-title="{{ lev1.request.title }}"  data-href="{{ path('front_click_request') }}" data-request-id="request.req.{{ lev1.request.id }}"><span>{{ lev1.request.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div>

    {% elseif module == "search" %}
        <div id="sidebar-menu" class="">
            <ul>
                {% for lev1 in treeRequest %}
                    <li><a href="#" data-tab-id={{ lev1.id }} data-title="{{ lev1.title }}"  data-href="{{ path('front_click_request') }}" data-request-id="request.req.{{ lev1.id }}"><span>{{ lev1.description }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    {% elseif  module=="cron" %}
        <div id="sidebar-menu" class="">
            <ul>
                {% for lev1 in treeRequest %}
                    <li><a href="#" data-tab-id={{ lev1.id }} data-title="{{ lev1.title }}"  data-href="{{ path('front_click_request_cron') }}" data-request-id="request.req.{{ lev1.id }}"><span>{{ lev1.description }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
	<div id="sidebar-menu" class="">
		<ul>
			{% for lev1 in treeRequest %}
			<li class="has_sub">
				<a href="javascript:void(0);">
					<i class="{{ lev1.iconCls }}"></i>
					<span>{{ lev1.text }}</span>
					<span class="pull-right">
						<i class="fa fa-angle-down"></i>
					</span>
				</a>
				{% if lev1.children|length > 0 %}
				<ul>
					{% for lev2 in lev1.children %}
						<li class='has_sub'>{#<a href="{{ lev2.href }}" data-id="{{ lev2.id }}" data-title="{{ lev2.title }}" data-icon="{{ lev2.icon }}">#}
                            <a data-title="{{ lev2.text }}" data-icon="{{ lev2.iconCls }}" data-href="{{ path('front_click_request') }}" href="#" data-tab-id={{ lev2.item }}  data-request-id="{{ lev2.item }}"><span>{{ lev2.text }}</span></a>
                        {% if lev2.children is defined and lev2.children|length > 0 %}
                            <ul>
                            {% for lev3 in lev2.children %}
                                <li class='has_sub'><a data-title="{{ lev3.text }}" data-icon="{{ lev3.iconCls }}" data-href="{{ path('front_click_request') }}" href="#" data-tab-id={{ lev3.item }} data-request-id="{{ lev3.item }}"><span>{{ lev3.text }}</span></a>
                                {% if lev3.children is defined and lev3.children|length > 0 %}
                                    <ul>
                                        {% for lev4 in lev3.children %}
                                            <li class='has_sub'><a  data-title="{{ lev4.text }}" data-icon="{{ lev4.iconCls }}" data-href="{{ path('front_click_request') }}" href="#" data-tab-id={{ lev4.item }} data-request-id="{{ lev4.item }}"><span>{{ lev4.text }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
    {% endif %}
	<div class="clearfix"></div>
{% endif %}