/* Modal Login */
#login-modal .modal-content {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

	#login-modal .md-content > div,
	#login-modal .modal-content > div {
		padding: 15px;
	}

		#login-modal .md-content div.modal-title,
		#login-modal .modal-content div.modal-title {
			font-size: 18px;
		}

		#login-modal form.form-horizontal .btn-submit {
			border-color: #581e75;
			font-weight: bold;
			color: #eae3eb;
			background: none #581e75;
		}

/* Loading progress bar */
.pace .pace-progress {
	background: none #eae3eb;
}

/* Loading spinner */
.pace .pace-activity {
	top: 9px;
	left: 9px;
	border-color: #eae3eb transparent transparent #eae3eb;
	animation: 800ms linear 0s normal none infinite running pace-spinner;
}

/* mc TABS */
.mc-tabs.skin-default {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent none;
}

	.mc-tabs.skin-default .ui-tabs-nav {
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent none;
	}

		.mc-tabs.skin-default .mc-scroll-tab-content {
			padding: 0 25px;
		}

		/* Default */
		.mc-tabs.skin-default .ui-tabs-nav li,
		.mc-tabs.skin-default .ui-tabs-nav li.ui-state-default {
			margin: 0 0 0 1px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom-width: 0;
			/*background: none rgba(0, 0, 0, 0.02);*/
			background: none rgba(255, 255, 255, 0.5);
			border-radius: 2px 2px 0px 0px;
		}

			.mc-tabs.skin-default .ui-tabs-nav li a,
			.mc-tabs.skin-default .ui-tabs-nav li.ui-state-default a {
				padding: 8px 20px 8px 10px;
				font-weight: normal;
				color: #505458;
			}

			.mc-tabs.skin-default .ui-tabs-nav li a i.pos-left {
				margin-right: 5px;
			}

			.mc-tabs.skin-default .ui-tabs-nav li a i.pos-right {
				margin-left: 5px;
			}

			.mc-tabs.skin-default .ui-tabs-nav li span.ui-icon-close {
				position: absolute;
				top: 0;
				right: 0;
				background-image: url('/bundles/totemfront/assets/libs/jqueryui/ui-lightness/images/ui-icons_888888_256x240.png');
				cursor: pointer;
			}


		/* Hover */
		.mc-tabs.skin-default .ui-tabs-nav li:hover {

		}

			.mc-tabs.skin-default .ui-tabs-nav li:hover a { }


		/* Active */
		.mc-tabs.skin-default .ui-tabs-nav li.ui-state-active {
			margin-bottom: -1px;
			padding-bottom: 1px;
			border: 1px solid #ffffff;
			border-bottom-width: 0;
			background: none #ffffff;
		}

			.mc-tabs.skin-default .ui-tabs-nav li.ui-state-active a { }

		/* btn prev / next */
		.mc-tabs.skin-default .mc-scroll-tab-content .btn-prev,
		.mc-tabs.skin-default .mc-scroll-tab-content .btn-next {
			z-index: 2;
			position: absolute;
			top: 0px;
			width: 24px;
			height: 31px;
			padding: 0;
			margin: 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
			background: none #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.1);
			opacity: 1;
			/*display: block;*/
		}

				.mc-tabs.skin-default .mc-scroll-tab-content .btn-prev { left: 0px; }

				.mc-tabs.skin-default .mc-scroll-tab-content .btn-next { right: 0px; }

			.mc-tabs.skin-default .mc-scroll-tab-content .btn-prev .ui-icon,
			.mc-tabs.skin-default .mc-scroll-tab-content .btn-next .ui-icon {
				background-image: url('/bundles/totemfront/assets/libs/jqueryui/ui-lightness/images/ui-icons_888888_256x240.png');
			}

				.mc-tabs.skin-default .mc-scroll-tab-content .btn-prev .ui-icon {
					background-position: -96px 0px;
				}

				.mc-tabs.skin-default .mc-scroll-tab-content .btn-next .ui-icon {
					background-position: -32px 0px;
				}

		/* Active */
		.mc-tabs.skin-default .mc-scroll-tab-content .btn-prev.ui-state-disabled,
		.mc-tabs.skin-default .mc-scroll-tab-content .btn-next.ui-state-disabled {
			opacity: 0.35;
			/*opacity: 0;*/
			/*display: none;*/
		}




	.mc-tabs.skin-default .ui-tabs-panel {
		padding: 15px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		background: #ffffff;
		border-radius: 0 0 2px 2px;
	}


.topbar {
	height: 180px;
}

	.topbar:after {
		content: " ";
		display: table;
		clear: both;
	}

	#topbar-ticker {
		min-height: 1px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
		/*padding: 5px 0;*/
		background: #581e75;
	}

		#topbar-ticker .tickercontainer {
			width: 90%;
			height: 30px;
			margin: 0 auto;
			border: 0;
			background: transparent;
		}

			#topbar-ticker .tickercontainer .mask {
				position: relative;
				overflow: hidden;
				width: 100%;
				left: auto;
				top: auto;
				height: 30px;
				line-height: 30px;
			}

				#topbar-ticker .tickercontainer .mask ul { }

					#topbar-ticker .tickercontainer .mask ul.newsticker li,
					#topbar-ticker .tickercontainer .mask ul.newsticker li a,
					#topbar-ticker .tickercontainer .mask ul.newsticker li span {
						font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
						font-size: 14px;
						line-height: 1.3;
						font-weight: normal;
						font-style: italic;
						color: #eae3eb;
						background: transparent;
					}

						#topbar-ticker .tickercontainer .mask ul.newsticker li {
							display: block;
							float: left;
							height: 30px;
							line-height: 30px;
							margin-right: 30px;
							white-space: nowrap;
							/*overflow: hidden;
							text-overflow: ellipsis;*/
						}


	#topbar-top {
		height: 100px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

			#topbar-top:after {
				content: " ";
				display: table;
				clear: both;
			}

		.logo {
			float: left;
			min-height: 1px;
		}

			.logo a {
				display: inline-block;
				line-height: 100px;
				vertical-align: middle;
			}

				.logo a img {
					display: inline-block;
					line-height: 1;
					vertical-align: middle;
				}

		.blk-user {
			float: right;
			min-height: 1px;
		}

			.blk-user ul > li.topbar-profile > a {
				padding-top: 0;
				padding-bottom: 0;
				line-height: 100px;
				vertical-align: middle;
				color: #222222;
			}

				.blk-user ul > li.topbar-profile > a:hover,
				.blk-user ul > li.topbar-profile > a:focus {
					background: transparent;
				}

			.blk-user ul > li.topbar-profile > a:after {
				content: " ";
				display: table;
				clear: both;
			}

			.blk-user ul > li.topbar-profile > a p {
				margin: 0;
			}

				.blk-user .col-1,
				.blk-user .col-2 {
					display: inline-block;
					line-height: 1.3;
					vertical-align: middle;
				}

					.blk-user .col-1 {
						padding-right: 15px;
						text-align: right;
					}

					.blk-user .col-2 { }

						.blk-user .col-2 span,
						.blk-user .col-2 i {
							display: inline-block;
							vertical-align: middle;
						}

						.blk-user .col-2 .topbar-profile-image {
							width: 40px;
							margin: 0 5px 0 0;
						}
	/*------------------------
	--	TOPBAR NAVBAR
	------------------------*/
	.topbar .topbar-left {
		background: #242227;
	}

		/* bouton default */
		.topbar .topbar-left .button-menu-mobile {
			color: #b3b1b4;
		}

		/* bouton hover */
		.topbar .topbar-left .button-menu-mobile:hover,
		.topbar .topbar-left .button-menu-mobile:focus {
			color: #eeeeee;
		}



	/*------------------------
	--	TOPBAR NAVBAR
	------------------------*/
	#topbar-navbar {
		/*background: #343838;*/
		background: #242227;
		border-radius: 0;
	}

		/* Navbar Left & Right */
		/*#topbar-navbar .navbar-nav > li > a:hover,
		#topbar-navbar .navbar-nav > li > a:focus {
			color: #eeeeee;
		}*/

			/* bouton default */
			#topbar-navbar .navbar-nav > li > a {
				background: transparent;
    			/*color: #777777;*/
    			color: #b3b1b4;
			}

				#topbar-navbar .navbar-nav > li > a span.text { }

				#topbar-navbar .navbar-nav > li > a i.pos-left {
					margin-right: 10px;
				}

				#topbar-navbar .navbar-nav > li > a i.pos-right {
					margin-left: 10px;
				}

			/* bouton hover */
			#topbar-navbar .navbar-nav > li:hover > a,
			#topbar-navbar .navbar-nav > li > a:hover,
			#topbar-navbar .navbar-nav > li > a:focus {
				background: rgba(0, 0, 0, 0.4);
    			color: #eeeeee;
    		}

    		/* bouton active */
    		#topbar-navbar .navbar-nav > li.open > a {
    			background: #18161b;
    			color: #ffffff;
    		}

			/* dropdown dart */
			#topbar-navbar .navbar-nav > li > .dropdown-menu:before {
				right: auto;
				left: 18px;
			}

			/* search */
			#topbar-navbar .navbar-nav > li.search {
				padding-top: 8px;
				padding-right: 8px;
			}

				#topbar-navbar .navbar-nav > li.search .navbar-form {
					margin: 0;
    				background: none rgba(0, 0, 0, 0.4);
				}




/* BAR LEFT */
.side-menu.left {
	top: 180px; /* .topbar + 15px */
	background: #242227;
}


/* BAR RIGHT */
.right-opener {
    border-left: 1px solid #777777;
}

	.right-opener a,
	.right-opener a i {
		color: #777777;
	}

	.right-opener a:hover,
	.right-opener a:focus,
	.right-opener a:hover i,
	.right-opener a:focus i {
		color: #eeeeee;
	}

/* CENTER */
.content-page > .content {
	margin-top: 180px; /* .topbar + 15px */
}

	/* Heading */
	.content .page-heading h1 i.pos-left {
		margin-right: 10px;
	}

	/* form */
	/*.content-page .content form.form-horizontal {*/
	/*.content-page .content .form form.form-horizontal {
		max-width: 800px;
	}*/

		.content-page .content form.form-horizontal .btn-submit {
			font-weight: bold;
			color: #EAE3EB;
			background: #581E75;
			border-color: #581E75;
		}

	/* ALERTS */
	#form-group_alerts {
		max-width: 800px;
		margin: 0 auto;
	}

		#form-group_alerts .alert {
			display: none;
		}

	/* FAVORITE */
	#block-favorite {
		border: 1px solid #581E75;
		border-left: 0;
		border-right: 0;
		margin-top: 25px;
		padding: 15px 15px 1px 15px;
		background: #E4EAE6;
	}

	/* DataTables */
	@media (max-width: 991px) and (min-width: 768px) {
		.table-responsive {
			overflow-x: auto;
			padding: 5px;
		}
	}

	.content-page .content .dataTables_wrapper:after {
		content: " ";
		display: table;
		clear: both;
	}

		/* .dataTables */
		.content-page .content .dataTables_wrapper .dataTable { }

			.dataTable > thead > tr > th {
				padding-right: 20px;
			}


		.content-page .content .dataTables_wrapper .DTTT_container,
		.content-page .content .dataTables_wrapper .dataTables_length,
		.content-page .content .dataTables_wrapper .dataTables_filter,
		.content-page .content .dataTables_wrapper .DTTT_container,
		.content-page .content .dataTables_wrapper .dataTables_info,
		.content-page .content .dataTables_wrapper .dataTables_paginate {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		/* btn action (export, ...) */
		.content-page .content .dataTables_wrapper .DTTT_container { }

		/* afficher xx éléments (haut) */
		.content-page .content .dataTables_wrapper .dataTables_length { }

		/* recherche (haut) */
		.content-page .content .dataTables_wrapper .dataTables_filter { }

		/* info élément 1 sur xx (bas) */
		.content-page .content .dataTables_wrapper .dataTables_info {
			float: left;
		}

		/* pagination (bas) */
		.content-page .content .dataTables_wrapper .dataTables_paginate { }


	/* results-request */
	.results-request{
		overflow: auto;
		margin-top: 25px;
	}


/* FOOTER */
footer {
	padding: 20px;
}



/*--------------------------------------------
--	Loading Panel
---------------------------------------------*/
/* State default */
.left.side-menu .sidebar-inner .loading-mask {
	display: none;
}

/* State Loading */
.left.side-menu .sidebar-inner.panel-loading #sidebar-menu {
    visibility: hidden;
}

.left.side-menu .sidebar-inner.panel-loading .loading-mask {
	z-index: 2000;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

	.left.side-menu .sidebar-inner.panel-loading .loading-mask .spinner {
		z-index: 2001;
		position: absolute;
		/*top: 50%;*/
		top: 10%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
		display: block;
		width: 30px;
		height: 30px;
		border-width: 3px;
		border-style: solid;
		/*border-right: 3px solid transparent;*/
		border-color: #EAE3EB transparent transparent #EAE3EB;
		border-image: none;
		border-radius: 15px;
		animation: 800ms linear 0s normal none infinite running pace-spinner;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
	}




/*--------------------------------------------
--	CUSTOM
---------------------------------------------*/
/* topbar-profile */
.blk-user .topbar-profile {
	display: block;
}

/* btn-open-left */
.left.side-menu .btn-open-left {
	display: none;
}

@media (max-width: 767px){
	.topbar .topbar-left { display: none; }

	.left.side-menu .btn-open-left {
		display: block;
	}
}

/* hide navbar-right when .left.side-menu is open */
@media (max-width: 992px){
	#wrapper:not(.enlarged) #topbar-navbar .navbar-left {
		float: right;
	}

	#wrapper:not(.enlarged) #topbar-navbar .navbar-right {
		display: none;
	}
}


/* Phone XS */
@media (max-width: 420px){
	#topbar-navbar .navbar-right {
		display: none;
	}
}


/*Phone*/
@media (max-width: 767px){

	#topbar-navbar .navbar-nav > li > a i.pos-left,
	#topbar-navbar .navbar-nav > li > a i.pos-right {
		margin: 0;
		font-size: 18px;
	}

	#topbar-navbar .navbar-nav > li > a span.text { display: none; }
}


/* Large */
@media (min-width: 992px){
	
}


/*.error{
    color: red;
}*/

/* Modal Login */
#login-modal .md-content,
#login-modal .modal-content {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#login-modal .md-content > div,
#login-modal .modal-content > div {
    padding: 15px;
}

#login-modal .md-content div.modal-title,
#login-modal .modal-content div.modal-title {
    font-size: 18px;
}

#login-modal form.form-horizontal .btn-submit {
    border-color: #581e75;
    font-weight: bold;
    color: #eae3eb;
    background: none #581e75;
}
