{% extends "GMCmsBundle:Default:index.html.twig" %}

{% block content %}

	{% include 'GMCmsBundle:Default:articleContent.html.twig' %}

	{{ render(url('gm_cms_aside_linked_page', { 'id': page.id })) }}

	{{ render(url('gm_cms_aside_same_level', { 'id': page.id })) }}

	{{ 'gm.review.comments' | trans }}<br>
	{#{ render(url('gm_cms_comment', { 'id': page.id })) }#}

	{#{ render(url('gm_cms_comment_form', {'id': page.id })) }#}

{% endblock %}