<article itemscope itemtype="http://schema.org/Article">
	<header>
		<h1 itemprop="name">{{ page.card.fullTitle }}</h1>
	</header>
	<section itemprop="text">
		{{ content | raw }}
	</section>
</article>