{% if page.children|length > 0 %}
	<ul>
		{% for child in page.children %}
			<li>
				<a href="{{ url.gen(child) }}" title="{{ child.card.fullTitle }}">{{ child.card.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	{{ 'gm.cms.empty_category' | trans }}
{% endif %}