<article itemscope itemtype="http://schema.org/Article">
	
	<h1 itemprop="name">{{ card.fullTitle }}</h1>
	
	{#{ content | raw }#}
	{{ widget_container(card.container.id) }}

	{#{ widget('gm_cms.vignette', page.id, {'var_tpl': 'valeur'}, {'view': 'long', 'sample': 'test'}) }#}
	{#{ widget('gm_cms.vignette_news', 
				page.id, 
				{
				'properties_vignette': {'var_tpl': 'var tpllll'}, 
				'config_vignette': {'view': 'long'}
				}) }#}

	{#{ widget('gm_widget.slider.owl', 1, {'ident': 'idunique'}) }#}
	{#{ widget('gm_media', 3, null, {'size': '200x200'})}#}
	
</article>