<div class="row row-{{ cols }}-columns">
	{% for i in 1..cols %}
		<div class="col col-w-{% if width is defined %}{{ width['col' ~ i] }}{% else %}{{ 12 / cols }}{% endif %}">
			{{ widget_place(widget, i, 'content') }}
		</div>
	{% endfor %}
</div>